[2021-07-05 11:03] ankoh opened #105 "Export files via /out/"
We should support a pseudo output directory `/out/` in the wasm filesystem.
[code]
The shell should check these paths and provide the files to the user via a download dialog.

[2021-07-05 11:06] ankoh opened #106 "Open remote database files read-only"
We should support opening remote database files with `open()`.
Our filesystem already supports HTTP range requests so that's likely only targeting the front-facing WebDB api.

- [x] Generate DuckDB TPCH database files in CI script
- [x] Serve the DuckDB database files with Karma
- [x] Implement open API with filesystem path

[2021-07-05 11:09] ankoh opened #107 "JsDelivr Bundles"
Picking the *right* duckdb bundle is a little bit too inconvenient at the moment.
`configure` should just derive all bundle urls via jsdelivr if not provided explicitly.

[2021-07-05 11:11] ankoh opened #108 "Test embedding of shell"
We should test the shell embedding in the CI since it will be used in duckdb-web and dashql.

[2021-07-05 11:13] ankoh opened #109 "Persist shell history in IndexedDB"
We already track the shell history for the arrow keys.
We should just persist the history ring buffer in indexeddb.

[2021-07-05 11:14] ankoh opened #110 "Terminal error logger"
Right now, some errors in the shell are still only logged to the console.
Make sure the most important errors are printed to xterm.

[2021-07-05 11:17] ankoh opened #111 "Fix DuckDB version tags in CI"
Right now, the shell does not show the correct DuckDB version since the tags are not properly fetched in the GitHub actions.

[2021-07-05 11:19] #111 closed, assigned to nobody

[2021-07-05 11:20] ankoh opened #112 "Add .help command"
Write some text about the different commands we support.

[2021-07-05 11:22] ankoh opened #113 "Enable file statistics via the .files overlay"
Offer an additional GUI toggle for `.fstats collect <filename>`.

[2021-07-05 11:22] ankoh opened #114 "Show file size in .files overlay"

[2021-07-05 11:26] ankoh opened #115 "Replace terminal with alternate greeter on smartphones"
We just don't support too narrow screens at the moment.
Fall back to a different greeter with error description.

Especially the printing of wide arrow tables is just not possible on small screens.
We could maybe just make the font size small enough in these cases but an alternate greeter will do for now.

[2021-07-05 11:27] ankoh opened #116 "Deploy TSDoc and link it in shell"
We should build the TSDocs in CI and bundle them with the shell.

[2021-07-05 11:30] ankoh opened #117 "Support prepared statements"
`WebDB` should maintain a dictionary of currently prepared statements.
For now, the js-api can then just pass a stringified json object with the arguments to WASM.

Example of the C-API:
[code]

[2021-07-05 11:36] ankoh opened #118 "Extended benchmarks"
Just adding this here as tracking issue for your work on the benchmarks @Dakror .

[2021-07-05 11:39] ankoh opened #119 "Support explicit arrow schema in CSV and JSON imports"
`importCSVFromPath` and `importJSONFromPath` should support user-provided arrow schema types.
Right now, we always infer the schema every time which can be particularly costly for column-major json input.

[2021-07-05 11:46] ankoh opened #120 "Implement importing of databases"
We should support importing database files via HTTP.
This shouldn't be too hard since we already support HTTP files in the wasm filesystem.

The shell should also expose this via URL parameter.
Demo with university schema and TPC-H 0.01.

[2021-07-05 11:48] ankoh opened #121 "Automate NPM releases"
`wasm_release` and the current package naming are too error prone.
Better automate that. Maybe even -dev releases.

[2021-07-05 11:56] ankoh opened #122 "Polish rust bindings"
Right now, we just implement the bare minimum for the shell.
We should just maintain a rust crate for wasm bindings since that is useful on its own.

[2021-07-05 12:05] ankoh opened #123 "Add example for shell embedding"
In preparation for the embedding into duckdb-web.

[2021-07-05 12:43] ankoh opened #124 "Automatically unwrap explain result"
`EXPLAIN` output is currently formatted with the arrow batch printer.

[2021-07-05 22:06] #109 closed, assigned to nobody

[2021-07-06 06:16] ankoh opened #126 "Include NPM version info in bundle"
@duckdb/duckdb-wasm should serve the version found in package.json

[2021-07-06 06:27] ankoh opened #127 "Prepare for public Github Actions"
We should migrate gracefully from my custom runner to public actions.
We should have a dedicated job that checks up-front if the docker CI image exists.
All other jobs then depend on that image directly.

[2021-07-06 07:38] ankoh opened #128 "Chrome coverage reporting is flaky"
Sometimes the coverage reports don't make it to disk before we try to to merge them.

[2021-07-06 09:06] #126 closed, assigned to nobody

[2021-07-06 09:19] #107 closed, assigned to nobody

[2021-07-06 11:38] #117 closed, assigned to nobody

[2021-07-06 12:52] #116 closed, assigned to nobody

[2021-07-06 12:56] ankoh opened #130 "Database is configured twice in shell"
The shell tries to configure the database twice when returning from the docs tab which breaks.

[2021-07-06 16:28] #130 closed, assigned to ankoh

[2021-07-07 01:21] domoritz opened #132 "Import from native objects"
Someone may want to import an existing array of objects or object of columns into DuckDB. If we support importing Arrow Tables, we would solve this issue.

[2021-07-07 14:55] #114 closed, assigned to nobody

[2021-07-07 20:16] #124 closed, assigned to ankoh

[2021-07-07 21:48] #112 closed, assigned to nobody

[2021-07-08 14:55] ankoh opened #134 "Artificial line wraps are not removed"
Line wraps must be removed from the text before processing.

[2021-07-08 14:55] #134 closed, assigned to nobody

[2021-07-08 19:59] #113 closed, assigned to nobody

[2021-07-08 20:34] ankoh opened #135 "Appender API"
Draft Appender API using Arrow Record Batches.
Related to #132 .

[2021-07-09 13:44] ankoh opened #136 "Globbing HTTP files should run HEAD requests"
Right now, globbing a HTTP file returns false which means that remote scans can only be done with explicit URL registration.
Better would be to just run HEAD requests on globs.
That way, we can support `SELECT * FROM 'http://some-parquet'`

[2021-07-13 08:13] #136 closed, assigned to ankoh

[2021-07-13 08:14] #106 closed, assigned to ankoh

[2021-07-13 08:16] ankoh opened #152 "Attach command"
Remote databases are read-only right now.
I think the much more useful approach would be to "attach" to a remote database by importing all of its tables as views.
That way, the user can still create new tables/views and scan remote tables if necessary.

Requires https://github.com/duckdb/duckdb/issues/1985

[2021-07-18 19:07] #127 closed, assigned to nobody

[2021-07-19 15:41] domoritz opened #157 "Customize loader"
It would be great if there was a way to customize the http loader so that a user can override authentication and base urls easily.

[2021-07-23 22:49] domoritz opened #159 "Support custom expressions"
It would be great to support e.g. js expressions in DuckDB so that one can write (for now synchronous) code to compute some derived value. Maybe we could even support user defined aggregates.

As we discussed before, supporting async code would be pretty trick since we can't just stop and reenter the execution in wasm right now. Maybe DuckDB will add async execution in the future to support async

[2021-07-25 16:01] Dakror opened #165 "Potential leak in SendQuery when not fetching query results"
Successive calls to sendQuery with TPCH-21 SF 0.5 lead to an std::bad_alloc OOM error in Chrome using the asynchronous Next variant

[2021-07-26 15:15] domoritz opened #166 "main and types files don't exist"
The files referenced in https://github.com/duckdb/duckdb-wasm/blob/61386e29036404400b4b2a5e9697ccfb0bd7bcc6/packages/duckdb-wasm/package.json#L72 don't exist in dist in 0.0.36.

[2021-07-26 16:07] domoritz opened #167 "Make sure sourcemaps and add declaration maps"

[2021-07-26 17:35] #166 closed, assigned to domoritz

[2021-07-26 17:35] #167 closed, assigned to domoritz

[2021-07-27 02:14] domoritz opened #171 "DOMException: Failed to construct 'Worker'"
I would like to construct a worker from jsdelivr but it doesn't seem to work (probably a CORS issue).

[code]

I think we should automatically detect when we make a cross domain request and then create a worker with `importScripts` as shown in https://stackoverflow.com/a/62914052/214950.

[2021-07-27 02:42] domoritz opened #172 "0.0.37 has wrong jsdelivr URLs"
https://cdn.jsdelivr.net/npm/@dashql/duckdb@0.0.37/dist/duckdb.module.js has `@duckdb/duckdb-wasm`, which should be `@dashql/duckdb` and version 0.0.36 when it should be 0.0.37.

[2021-07-27 17:15] #171 closed, assigned to nobody

[2021-07-27 18:42] domoritz opened #175 "API: connection `disconnect` vs `close`"
I think `close` may be more common. If you think so, too, we can rename `disconnect` to `close`.

[2021-07-28 08:51] #175 closed, assigned to nobody

[2021-09-11 15:22] domoritz opened #207 "Invalid: Expected string or null, got JSON type 6"
I am trying to insert a JSON file but I get an error "Error: Failed to create table 'movies': Invalid Input Error: arrow_scan: get_next failed(): Invalid: Expected string or null, got JSON type 6".

<img width="1000" alt="Screen Shot 2021-09-11 at 11 22 05" src="https://user-images.githubusercontent.com/589034/132952832-cdf883d0-8bba-4876-95c6-46a98226d59c.png">

Repro link:

https://observablehq.

[2021-09-11 15:34] domoritz opened #208 "Support `DATEFORMAT` and `TIMESTAMPFORMAT` in `importCSVFromPath`"
It would be great if we could customize the data and time formats.

See https://duckdb.org/docs/sql/functions/dateformat

[2021-09-14 13:47] #207 closed, assigned to ankoh

[2021-09-28 14:54] domoritz opened #234 "Error: Invalid or unsupported format string: 'd:2,0'"
Running `select round(1.4);` in https://shell.duckdb.org/ results in `Error: Invalid or unsupported format string: 'd:2,0'`.

[2021-09-28 18:38] #115 closed, assigned to nobody

[2021-09-29 00:21] domoritz opened #239 "CSV Parsed incorrectly"
In the CSV in https://observablehq.com/d/cff61ca26442acbb, the header is not recognized and instead becomes the first row. It would probably be good to support some more options in the CSV parser to explicitly set the types (https://github.com/duckdb/duckdb-wasm/issues/119) and whether the CSV has a header or not.

[2021-09-30 19:02] #121 closed, assigned to nobody

[2021-09-30 22:06] #239 closed, assigned to ankoh

[2021-09-30 22:06] #208 closed, assigned to ankoh

[2021-10-01 07:19] #119 closed, assigned to ankoh

[2021-10-01 07:20] #128 closed, assigned to nobody

[2021-10-01 10:56] ankoh opened #251 "Add S3FS"
```SELECT * FROM parquet_scan('s3://<bucket>/<file>');```

Would be a pretty sweet example.
Mostly building [this](https://github.com/duckdb/duckdb/blob/master/extension/httpfs/httpfs.cpp) on top of our buffered filesystem.

[2021-10-04 07:41] #165 closed, assigned to nobody

[2021-10-04 14:53] #135 closed, assigned to nobody

[2021-10-04 15:13] ankoh opened #256 "Add .examples command"
We need an `.examples` command in the shell to show interesting queries.
That way, we can better present features such as remote parquet scans or the database import.

[2021-10-07 09:24] #234 closed, assigned to ankoh

[2021-10-07 17:04] domoritz opened #267 "Expose the binding in connection"
This way a user can directly get access to e.g. the buffer and not just the Arrow Table.

[2021-10-08 06:54] ankoh opened #271 "Ship -Os variants"
They are slower, but roughly half the size.
We should ship an -Os variant of every wasm module and let the user select either small module size or performance.

[2021-10-26 10:35] ankoh opened #313 "Parking Lot based Shared Lock"
Our shared lock is based on parking lots and has a rarely occurring bug where all threads keep spinning.
Replaced with std::shared_mutex for now [here](https://github.com/duckdb/duckdb-wasm/blob/1b4f06a9b845241933d56bf34a130d21ec366bb3/lib/include/duckdb/web/utils/parallel.h).

Need stress tests for the parking lot.
This is only relevant for the experimental pthread bundle and does not effect sing

[2021-10-26 14:10] #172 closed, assigned to ankoh

[2021-10-27 11:40] #132 closed, assigned to ankoh

[2021-10-27 11:48] #118 closed, assigned to ankoh

[2021-10-27 12:04] #267 closed, assigned to nobody

[2021-10-28 11:42] #120 closed, assigned to ankoh

[2021-11-02 00:10] david542542 opened #332 "Issue with aggregation"
If I try and do the following it works fine in the normal DuckDB build (using python for example):

[code]

However, if trying it in wasm I get an error about binding:

[code]

Here's a 30s video as well if that's helpful: https://gyazo.com/a909ade3348d4f8ecfe2183d209dd56f.

And here's the file:

[code]

[2021-11-02 02:10] llimllib opened #334 "The example of loading JSON text in the README fails"
The README gives (after #333):

[code]

But, when I run that, I get `TypeError: t is undefined`:

[code]

I created a [repository that reproduces the problem](https://github.com/llimllib/duckdb-wasm-repro), you can just clone it and open up index.html in a browser to see it in action

[2021-11-02 08:28] ankoh commented on #334
Thanks! This is a typo in the README.

Insertion requires a connection:
[code]

I added a test with the README examples:
https://github.com/duckdb/duckdb-wasm/blob/d3e8d8fbb2fb23b1b82773f524fcf3587e2447a7/packages/duckdb-wasm/test/readme_examples.test.ts

Feel free to reopen the issue if the problem persists.

[2021-11-02 08:28] #334 closed

[2021-11-02 09:10] luckyfanghe opened #340 "export database error"
Hi. I am using duckdb-wasm in pure javascript.

Refered to https://observablehq.com/@cmudig/duckdb?collection=@cmudig/duckdb .

when i use export database '/out/localdb', i am getting error: "Not implemented Error: BufferedFileSystem: DirectoryExists is not implemented!".

Please give me solution.

[2021-11-02 09:39] ankoh commented on #332
I couldn't reproduce the issue

Given this file:
[Products.csv](https://github.com/duckdb/duckdb-wasm/files/7459472/Products.csv)

I can execute these commands in the shell without problems:
[code]

Do these commands fail for you?

[2021-11-02 09:48] ankoh opened #341 "Add simple shell script functionality to urlencode examples"
Url-Encoding shell scripts would be very useful for issues and demos.

[2021-11-02 09:57] ankoh commented on #340
We do not yet support file exporting in DuckDB-wasm. This is very useful to have and should be added soon!

[2021-11-02 10:39] ankoh commented on #340
Related to #105

[2021-11-02 10:41] luckyfanghe commented on #340
Hope to be added soon. Thank you.

[2021-11-02 15:52] llimllib opened #342 "Allow user to override range requirement"
relates to #157

In development, I use [devd](https://github.com/cortesi/devd/issues/42), which does not support range requests, and have a small data set. It would be very useful for me to be able to disable the range support requirement while I'm in development; my production server supports them.

The [inability to turn this off](https://github.com/duckdb/duckdb-wasm/blob/dc65c71e5c19e2aa36a4f4

[2021-11-02 16:37] ankoh commented on #342
I understand your point. I was just not quite sure about the negative effects of a default fallback to non-ranged fetches.
The problem is, that duckdb-wasm runs in a web worker.
So if your user expects ranged reads and we would fallback to full reads for whatever reason, we might end up blocking duckdb database until the entire file is downloaded.
This is quite problematic especially for large fil

[2021-11-02 16:40] ankoh commented on #342
It is non-trivial to abort downloading such a file once we started. We can terminate the web worker but thats about it (without SharedArrayBuffers).
This will change as soon as DuckDB gets fully async I/O but that's not possible today.

[2021-11-02 16:53] ankoh commented on #342
We could add something like `allowFullReads` to the [DuckDBConfig](https://github.com/duckdb/duckdb-wasm/blob/06fd708bd33b6d2607c896cdf6d86a4328379e6a/packages/duckdb-wasm/src/bindings/config.ts) that defaults to false, for now.

[2021-11-02 16:57] llimllib commented on #342
that would be the ideal solution for me, if it doesn't make sense overall feel free to close this though

[2021-11-03 15:27] hamilton opened #345 "apache-arrow marked as external dependency"
Hello folks ~

So thrilled to experiment w/ `duckdb-wasm`! Thank you for all your hard work.

I'm having a bit of trouble bundling duckdb-wasm in a simple case. I'm using Rollup and opting for the simplest possible input file:

[code]

But rollup produces this error:

[code]

Here is a repository that hopefully reproduces this (including my rollup file, includes instructions): https://github.com/h

[2021-11-03 16:03] hamilton commented on #345
Thanks for the quick response @ankoh! Let me know if you'd like any assistance with documentation or examples when 6.0.1 lands.

[2021-11-03 23:25] ankoh commented on #342
@llimllib Please try version 0.1.12-dev26.0 , it automatically falls back to full requests.
We only log a warning to the console for now.

[2021-11-03 23:34] ankoh commented on #342
<img width="1242" alt="Screenshot 2021-11-03 at 23 50 03" src="https://user-images.githubusercontent.com/3986510/140233042-36fe5bd3-20c2-4af8-b236-99ed32e8df7d.png">

Neat side effect:
The shell can now read files from servers that dont include `range` in the CORS header `Access-Control-Allow-Headers.

[2021-11-04 00:13] llimllib commented on #342
Can confirm it works, thank you very much!

![image](https://user-images.githubusercontent.com/7150/140236153-484e196d-a12f-48b0-b8bf-772d1c505498.png)

[2021-11-04 00:13] #342 closed

[2021-11-04 00:44] llimllib commented on #345
@hamilton [here's the esbuild build script](https://github.com/llimllib/nbastats/blob/duckdb/build.mjs) I'm using to build with a working version of apache-arrow, not sure exactly how to do it in rollup though

[2021-11-04 02:04] david542542 commented on #340
@ankoh Oh yea, that would be a fantastic feature to add. Is this something that needs to be added on the C++ front or more with the javascript-binding side?

[2021-11-08 01:06] luckyfanghe commented on #340
@ankoh I am gonna update duckdb to export database. can you give me any document or tip for it?

[2021-11-08 06:47] ankoh commented on #340
Sorry, I'm a bit loaded right now. I'll take a look at it a few hours today.
It's an interplay between C++ and TS, leaning more towards C++.

[2021-11-08 07:28] ankoh commented on #332
@david542542 any update here?

[2021-11-08 15:37] luckyfanghe commented on #340
Can i save parquet files to local in browser?

[2021-11-08 17:15] ankoh commented on #340
I added preliminary support for database exports in c6d64b55d116daefe1e848546da29aaf955db54d .
This test exports a database as parquet file and scans it afterwards:
https://github.com/duckdb/duckdb-wasm/blob/e0fc23dfa834a3a3c37bed02046daad9d002cf40/packages/duckdb-wasm/test/filesystem.test.ts#L212-L240

[2021-11-08 17:16] ankoh commented on #340
It is not yet really exposed in the shell, that one has to be added separately.

[2021-11-08 18:00] ankoh commented on #340
Please try it out in 0.1.12-dev54.0 and tell us how it's going, so that we can close this issue.

[2021-11-08 20:56] david542542 commented on #340
@ankoh is it possible to test this one out in the shell (I think not as per your last comment), for example trying:

[code]

It 'seems' to work, but in checking my actual filesystem I don't see anything there (I've tried a few variations of the above as well).

[2021-11-08 21:01] david542542 commented on #332
@ankoh yes this seems to be fixed. It's possible it could have even been user error the first time, but I tried a few different ways and in the recent build I wasn't able to reproduce this issue so closing now.

[2021-11-08 21:01] #332 closed

[2021-11-08 21:02] ankoh commented on #332
Perfect, thanks!

[2021-11-09 01:24] luckyfanghe commented on #340
I am using pure js and refer to it.
https://observablehq.com/@cmudig/duckdb?collection=@cmudig/duckdb .
when i change libraryVersion = "0.1.12-dev54.0", getting the error (duckdb = Error: [Package Error] "apache-arrow" no dependency version info found.)

[2021-11-09 02:50] domoritz commented on #340
This issue will be fixed when Arrow releases Arro 6.0.1

[2021-11-09 18:33] david542542 commented on #340
@domoritz I see, and it looks like their cadence is about once every two months or so -- https://arrow.apache.org/release/ -- which would probably be sometime in December or so? Any idea if that particular issue has been fixed or if it's still part of the TODOs for the 6.0.1 release? https://issues.apache.org/jira/projects/ARROW/issues/

[2021-11-09 19:05] david542542 commented on #332
(I think we can remove this issue from the Roadmap as well since it's not an issue anymore and possibly never was.)

[2021-11-09 19:07] david542542 commented on #251
@ankoh how would permissions work on this? For example, would this read from [`~/.aws/credentials`](https://docs.aws.amazon.com/cli/latest/userguide/cli-configure-files.html) file, need to be entered in to the client, or only work on public buckets/files?

[2021-11-09 19:34] domoritz commented on #340
No, the 6.0.1 release should be sooner. Major releases are every three months but patch releases just need to go through a process on the mailing list. The fix is already in master and tagged for 6.0.1.

[2021-11-09 20:35] ankoh commented on #251
We should definitely include private buckets.
But we cannot really read from the file without prompting the user.

I'd favor a method like
[code]

[2021-11-10 12:40] l1t1 opened #373 "how to run SQL in https://shell.duckdb.org/"
I input some words and press Enter, all words disappear

[2021-11-10 13:29] ankoh commented on #373
What browser (+ version) are you using?
Ending a statement with a semicolon and pressing enter should execute the command.

[2021-11-10 13:37] ankoh commented on #373
https://user-images.githubusercontent.com/3986510/141122909-99055c47-a16f-4b85-bae8-fdba16420d68.mp4

[2021-11-10 14:45] peder1001 commented on #345
Also looking forward to this.

Looks like 6.0.1 just released? https://github.com/apache/arrow/releases/tag/apache-arrow-6.0.1
Hopefully won't take them too long to update npm.

[2021-11-10 15:22] ankoh commented on #340
You cannot yet. At least not in the shell.
The API contains the method [copyFileToBuffer](https://shell.duckdb.org/docs/classes/index.AsyncDuckDB.html#copyFileToBuffer) which copies the file content to a Unit8Array but this is not (yet) available in the shell.
I'll add it at the weekend.

[2021-11-10 22:38] l1t1 commented on #373
thanks.  I used a Android brower on my phone.
![Screenshot_20211111_063051_com huawei browser](https://user-images.githubusercontent.com/23301704/141204646-3067bcc2-1eab-470a-a4bb-b20395e6a513.jpg)

[2021-11-11 00:48] l1t1 commented on #373
I visit the site with my PC brower, the same problem.
![shell_duckdb_2021-11-11_083942](https://user-images.githubusercontent.com/23301704/141216893-a98d3c68-5978-4f0d-bd9f-b67307114c89.png)

[2021-11-11 01:11] l1t1 commented on #373
ms edge 95 can run it.
![2021-11-11_085929](https://user-images.githubusercontent.com/23301704/141218275-d52d7c96-afd1-4523-99b4-b7a816f6b597.png)

[2021-11-11 07:35] l1t1 opened #377 "some buttons is disabled when run .files command"
the local file button is ok.

the http files button
and '-' button at the right of uploaded local file
are disabled.

[2021-11-11 08:33] ankoh commented on #373
WebAssembly ist still very young and we cannot really support older browser versions an non-mainstream browsers.
We should get better on the error reporting in the shell though since there likely will be an error printed to the console.
It should be visible in the shell.

Related to #110 .

[2021-11-11 08:34] ankoh commented on #377
Yes that is true. The file dialog will be replaced with dedicated commands like `.files add, .files download` soon.

[2021-11-13 20:48] pickledish opened #381 "[Question] Wondering about serial HTTP range requests"
Hey guys, first just wanted to say, amazing work on this library, it's really impressive and I'm excited both to try things myself and to see what everyone else ends up doing with it 🙂

Anyways, this isn't an ISSUE so much as a QUESTION, something for my curiosity, so no worries if you don't get back to it for a while, or at all -- just figured I'd ask since I think it's interesting, hope that's o

[2021-11-14 00:18] ankoh commented on #381
Hi @pickledish , thanks for the nice words.
Yes, we're facing a couple of problems here.

The most important one is, that we're (not yet) fully async during I/O. This has a few far reaching requirements for the query execution model that haven't been been tackled yet.
Right now, we're always sitting in a C++ callstack when doing I/O which restricts us to single blocking http reads (via XHR).
Threa

[2021-11-14 03:26] domoritz commented on #381
These knobs are indeed interesting. How did you come up with the 1KB start size? Given that each http request takes some time, maybe it's worth starting out larger than 1KB?

[2021-11-14 09:06] ankoh commented on #381
This was just a blind first guess not backed by any data. We should totally accelerate faster.
Increasing the base size is a bit dangerous in case the user performs few small random accesses (this is not restricted to Parquet).
We have a page buffer sitting on top of the web filesystem which will buffer the file in 4KB pages anyway so the minimum range size for HTTP reads should be 4KB.

But incre

[2021-11-14 11:34] ankoh commented on #381
@pickledish Please try it out in the web shell with **@duckdb/duckdb-wasm@0.1.12-dev67.0**.

[2021-11-14 12:45] ankoh commented on #381
In the ideal world, we'd want to push data into a DuckDB pipeline whenever one out of many fetch promises resolve. That would allow us to saturate the clients bandwidth very easily even with a single web worker. We'll get there eventually but there's some more invasive ground work to do in DuckDB.

@Mytherin recently migrated made the query execution push based which is already a fantastic step in

[2021-11-15 09:21] luckyfanghe opened #384 "Cancel Query"
Hello.@ankoh
When i run queries such as select count(1), can i cancel the query in duckdb?

[2021-11-15 10:35] ankoh commented on #384
There's no easy way to abort a blocking `.query`. As last resort, you can terminate & reinitialize the worker with [terminate](https://shell.duckdb.org/docs/classes/index.AsyncDuckDB.html#terminate).

[2021-11-15 10:40] ankoh commented on #384
Right now, the query execution is completely handed over to Wasm so none of the messages arriving at the web worker will be picked up when a the worker blocks.
We might be able to lift this limitation a bit in the future when we start to drive query plans through JS I/O Promises but that's not possible today.

[2021-11-15 15:01] bmschmidt commented on #381
First, let me echo @pickledish's praise and thanks.

I have a related question, I think. (Let me know if better placed elsewhere.)

I'm registering a remote parquet file which has one column (words) in sorted order to facilitate partial reads from the parquet metadata.

[code]

I then query it with

[code]

It returns the results without pulling the whole file! Hooray!

But: if I run subsequent qu

[2021-11-15 15:11] ankoh commented on #381
Hm, I think this points to a bug. Conceptually they should.
We deliberately pin files on URL registration so that they are not flushed out.
But you are right, it looks like we're currently evicting buffered pages a bit too eagerly when the file is closed.
Let me move this into a new issue, we need a few tests for pinned reopened files.

[2021-11-15 15:12] ankoh opened #385 "Page buffer evicts files too eagerly"
_Originally posted by @bmschmidt in https://github.com/duckdb/duckdb-wasm/issues/381#issuecomment-968996354_

I have a related question, I think. (Let me know if better placed elsewhere.)

I'm registering a remote parquet file which has one column (`word0`) in sorted order to facilitate partial reads using the parquet metadata.

[code]

I then query it with

[code]

It returns the results without

[2021-11-15 20:01] ankoh commented on #385
Fixed in 8d2ef58af9824c711bd8dd797b39559a900885a7

[2021-11-15 20:01] #385 closed

[2021-11-15 20:16] ankoh commented on #381
@bmschmidt should be fixed, you can try it out it in the shell and in **0.1.12-dev72.0**.

[2021-11-16 16:05] david542542 commented on #384
@ankoh does this seem like a relatively acceptable way to do it?

[code]

[2021-11-16 16:16] ankoh commented on #384
Yes it does! It's more the sledgehammer method but it will get the job done until we become fully async.

[2021-11-16 16:21] david542542 commented on #384
@ankoh cool, thanks for the feedback. Is there a better way to do it now, or this is basically what we have to do until there's more async options upstream?

[2021-11-16 16:32] ankoh commented on #384
Not without SharedArrayBuffers.
With SharedArrayBuffers (and thus strict cross-origin-isolation COI), one could inject a side channel to flag a query abort but that's also a bit hacky.
Also COI is probably something most users won't be willing/able to bring in.

[2021-11-16 16:35] enjalot opened #393 "Timestamp fields returned as JavaScript Dates?"
It would be great if the client could convert timestamp fields to native JavaScript Date objects instead of the millisecond value.

Here is an example using both a parquet file and a csv file articulating the ask:
https://observablehq.com/@observablehq/duckdb-date-types

[2021-11-16 16:36] ankoh commented on #384
Hold on. We could do add one tool rather easily. We could timeout in the filesystem.
So if your query is heavily blocking on I/O, there might be a way out with timeouts.

[2021-11-16 16:40] ankoh commented on #384
I like that. We could pass a default filesystem timeout with the database options and a file-specific timeout with registerFile{Text,Buffer,URL}. That would circumvent long blocking remote requests unless the user explicitly opts in.

[2021-11-16 16:46] david542542 commented on #384
That's great. Would that cover the use case of a user deciding they want to terminate the query after-the-fact (for example, "oops I forgot the WHERE clause I need to cancel the query and re-run) or how could the fs receive a post-execution notification?

[2021-11-16 16:47] ankoh commented on #384
No I still only see two options for that to work. Signaling via SharedArrayBuffers or a fully async DuckDB plan driver.

[2021-11-16 22:54] enjalot commented on #393
It looks like Timestamp fields in the SQL database are returned as Timestamp fields in Arrow. There is a Date field in Arrow that does return native JavaScript dates. I haven't been able to figure out how to cast from Timestamp to Date, but it seems like it would make sense to be able to do that?

[2021-11-16 23:40] david542542 commented on #384
@ankoh when terminating a worker, does the effectively delete the tables for that worker? Or is there basically a way to preserve existing databases/tables when doing so?

[2021-11-16 23:51] david542542 opened #394 "Suggested way to handle read-only concurrency"
In the use case that I have a query that I saved as a materialized view -- or let's just say a table called `SavedQuery`. Let's say I want to grab some statistics for each column, and there are ten columns. So the queries that I run are:

[code]

In the case that I run all ten queries in parallel (or whatever batch size I decide to use), what is the suggested way to run these queries concurrently?

[2021-11-17 01:00] domoritz commented on #394
Is this a question for DuckDB or DuckDB wasm? If the latter, you can submit queries with independent connections but keep in mind that the memory usage will increase as the query results have to be kept in memory.

[2021-11-17 08:42] ankoh commented on #394
Also note that your example is the perfect example for grouping sets and can be done in a single query.
[code]

Right now, DuckDB runs single-threaded in the web worker which means that concurrency right now can only really reduce the overhead of the message passing to and from the worker.
E.g. if you would do:
[code]
it would still execute `foo` and `bar` in sequence at the moment just because we

[2021-11-17 09:47] ankoh commented on #393
Yes, DuckDB emits Arrow Timestamps in these cases. It is the more general type that can be specified with multiple units and an optional timezone.
DuckDB does not have support for time zones but this is [being worked on](https://github.com/duckdb/duckdb/issues/561).

Arrow does have the type Date64 which sits in a weird spot as it is defined as ms since epoch.
So Date64 seems to be a timestamp wit

[2021-11-17 12:18] ankoh commented on #384
Terminating the worker really is the sledgehammer approach destroying all the data along the way. I'm fairly sure that there won't be a super comfortable way to cancel blocking queries right now. But maybe this is a reason to explore threading soon if you can live with the restrictions of cross-origin-isolated sites.

[2021-11-17 15:45] domoritz commented on #393
Arrow has multiple date types so one of them may be the right fit. The date types are built from and return JS `Date` instances. The timestamp types are built and return numbers/bigints.

[2021-11-17 15:53] ankoh commented on #393
Arrow does not have a plain Date type. Only in Js.
They have a 32 bit date32 that encodes days and a 64 bit date64 that encodes milliseconds since Unix epoch.
https://arrow.apache.org/docs/python/api/datatypes.html
The key question is whether it's semantically sound to autocast timestamp(ms) to date64 or whether this will turn into a footgun later.

[2021-11-17 20:06] enjalot commented on #393
Is there someway I could prepare some tests or examples?
I was thinking of creating a parquet file using python to create columns for all the various date/time types with a few consistent dates. then could look at the resulting JS arrow and native JS interpretations?

[2021-11-17 20:27] applecool opened #397 "Licensing"
Hey,

I am curious why the license has been changed from MIT to MPL? Is it something Duckdb is also going to do moving forward?

[2021-11-17 20:28] applecool commented on #397
@ankoh

[2021-11-17 21:07] ankoh commented on #397
The WebAssembly library grew out of a project that is independent from the CWI and the decision to license it under MPL-2.0 was my own.

[2021-11-17 21:07] #397 closed

[2021-11-17 21:10] domoritz commented on #397
And many of the extensions such as the js node bindings are also user the MPL license: https://github.com/duckdb/duckdb/tree/master/tools/nodejs.

[2021-11-17 21:14] ankoh commented on #397
But I'm open to discuss this. I deliberately chose MPL-2.0 over MIT since WebAssembly is still a very young target for databases and everyone should profit from upstream development in DuckDB-Wasm. MPL-2.0 should still be relaxed enough to facilitate the integration in an any kind of closed source project.

[2021-11-17 23:00] applecool commented on #397
Thank you 😊

[2021-11-18 00:04] luckyfanghe commented on #394
In background process, a query is running like CREATE TABLE IF NOT EXISTS tablename AS (SELECT * FROM "sample.csv");
the sample.csv has 10m csv file.
When run another query with independent connection like select 1, it takes 10s
i think the connections is not independent. What is the solution?

[2021-11-18 00:47] ankoh commented on #394
Yes, DuckDB-Wasm can only execute one query at a time right now. We're looking into single-threaded concurrency in the web worker but this is not possible today.

[2021-11-18 08:38] david542542 commented on #394
@ankoh I see. Yea, [`GROUPING SETS`](https://duckdb.org/docs/sql/query_syntax/grouping_sets) is great in that particular use case. I suppose another one might be a dashboard where there are five different graphs/panels/etc and the queries would be better rendered in parallel (or 'batches' might be a better word if we want to limit the concurrency level).

As far as executing some single-threaded c

[2021-11-18 08:39] david542542 commented on #394
@domoritz

I meant specifically for the DuckDB-Wasm use case.

[2021-11-18 08:46] ankoh commented on #394
Yes they do

[2021-11-18 08:49] ankoh commented on #394
It's mostly on the DuckDB side. In DuckDB, you currently start a query and wait for it blockingly to finish. Consequently, if you have only the single thread of the Web worker, you're limited to executing 1 query at a time in your instance, independent of the connections. We're currently working on lifting this since this is tightly coupled with the asynchronous I/O story but that's the state of t

[2021-11-18 08:57] ankoh commented on #394
The cost for copying is not zero but also not too severe.
The **packing** of the arrow buffer and reading everything again will hurt more than passing it to the worker.
Especially since you can pass the underlying ArrayBuffer as *Transferable* to postMessage.

[2021-11-18 09:06] ankoh commented on #394
Yes, this will come up when rendering 5 graphs in parallel. My advice here would be for now to just run the queries on different connections and await them independently. They will be executed one at a time but you don't need to serialize the `query` calls. Eventually, we'll be able to execute multiple queries concurrently on a single thread which will just speedup your execution without further a

[2021-11-18 09:34] ankoh commented on #393
We could test this fairly easily without adding a parquet file right? I think there's some value in heaving self-contained jasmine tests if that's possible.
So in DuckDB-Wasm we have a fair amount of C++ tests and a(/too) few Typescript tests.
I started added regression tests for the GitHub issues [here](https://github.com/duckdb/duckdb-wasm/blob/master/packages/duckdb-wasm/test/regression/github_

[2021-11-18 17:48] enjalot opened #402 "insertArrowTable on Observable"
I'm trying to use `insertArrowTable` in Observable, and I suspect that I'm requiring an incompatible version of apache-arrow:
https://observablehq.com/d/0288d022d3766866

I get this message when I try:
`Error: Unrecognized Message header: Schema<{ 0: precipitation: Float32, 1: date: Date64<MILLISECOND> }>`

Is the arrow used by duckdb-wasm accessible from outside?

[2021-11-18 17:51] ankoh commented on #402
Will be soon. apache-arrow 6.0.1 was just released which should fix all the bundler issues. I'll take a look at it tonight.

[2021-11-19 00:40] david542542 commented on #340
@ankoh @domoritz I was excited to see a new release earlier today. Does this new release cover the recent https://www.npmjs.com/package/apache-arrow 6.0.1?

[2021-11-19 00:47] domoritz commented on #340
Yes. It includes https://github.com/duckdb/duckdb-wasm/commit/393bb612fa39e870ef63f165e390e27e7acd2779.

[2021-11-19 14:33] bmschmidt commented on #381
Tried this fix out, looks great. Thanks!

[2021-11-19 15:49] peder1001 commented on #345
Apache Arrow is now at 6.0.1 on NPM.
https://www.npmjs.com/package/apache-arrow

[2021-11-19 17:51] llimllib commented on #345
I still am not able to build against it, I tried removing my hack and it didn’t work

[2021-11-19 17:54] ankoh commented on #345
So you installed the pre-released version 0.1.13-dev8.0 with
[code]
and imported DuckDB-Wasm using only:
[code]
?
That should work now. I'll add a rollup example to our CI.

[2021-11-19 19:58] llimllib commented on #345
Yes, here's a repro with esbuild:

[code]

how did you get that to build with esbuild?

[2021-11-19 20:08] llimllib commented on #345
I did manage to get rid of `Could not resolve "apache-arrow"` though, with all upgrades applied, and if I `npm install -D stream` it builds

[2021-11-19 20:11] llimllib commented on #345
but then actually using the build fails, the browser console gives:

[code]

[2021-11-19 20:11] domoritz commented on #345
With es build, you may need https://github.com/apache/arrow/pull/11742. I'll try to get it released soon.

[2021-11-19 20:13] peder1001 commented on #345
Not sure if its useful. But I tried to use it in an Angular project now, and get build errors:

`Error: node_modules/@duckdb/duckdb-wasm/dist/types/src/bindings/duckdb_module.d.ts:1:23 - error TS2688: Cannot find type definition file for 'emscripten'.

1 /// <reference types="emscripten" />
[code]

Error: node_modules/@duckdb/duckdb-wasm/dist/types/src/bindings/duckdb_module.d.ts:7:23 - error TS23

[2021-11-19 20:18] ankoh commented on #345
Yes, I can also reproduce the issue with the arrow streams now.
Our benchmarks are built against the esm using esbuild but they are on node, so it works there.
Hm I hope we don't need to wait super long for the export fix to make it to npm, we cannot work around this one.

Regarding the emscripten issue, you'll need.
`@types/emscripten`

[2021-11-19 20:20] ankoh commented on #345
@peder1001 in the meantime, you can use `@duckdb/duckdb-wasm/dist/duckdb-browser.js` directly

[2021-11-19 20:27] ankoh commented on #345
Also, we're using this tiny hack with esbuild to fix the issue with the arrow exports:
https://github.com/duckdb/duckdb-wasm/blob/master/packages/duckdb-wasm/bundle.mjs#L21

[2021-11-19 20:43] peder1001 commented on #345
Thanks ankoh, and now its more back to apache-arrow, so I will have to try to figure it out..

Error: node_modules/apache-arrow/Arrow.d.ts:54:466 - error TS2304: Cannot find name 'ReadableStreamReadValueResult'.
Error: node_modules/apache-arrow/Arrow.d.ts:54:641 - error TS2304: Cannot find name 'ReadableStreamReadDoneResult'.
Error: node_modules/apache-arrow/interfaces.d.ts:180:5 - error TS2502: '

[2021-11-19 20:53] llimllib opened #408 "jsdelivr fails on 0.1.13-dev8.0, missing duckdb-browser-async.worker.js"
I upgraded `@duckdb/duckdb-wasm` from `0.1.12-dev72.0` to `0.1.13-dev8.0`, and now trying to load the packages from jsdelivr fails:

[code]

The equivalent file for `0.1.12-dev72.0` exists at https://cdn.jsdelivr.net/npm/@duckdb/duckdb-wasm@0.1.12-dev72.0/dist/duckdb-browser-async.worker.js.

I'm only running `const JSDELIVR_BUNDLES = duckdb.getJsDelivrBundles();`, not requesting this file myself

[2021-11-19 21:36] llimllib commented on #408
I figured out how to work the bundle mechanism, I was pretty confused by the README, so I'll put it here:

- add a build-time task to copy files from duckdb-wasm's build folder to my own dist folder. I put them in `<root>/dist/duckdb` with this make task:

[code]

- in my javascript code, tell duckdb how to use the bundles with the following:

[code]

[2021-11-19 21:37] llimllib commented on #408
(I did this because I could no longer rely on jsdelivr, due to the bug above - I'd put off learning how it worked)

[2021-11-19 21:41] ankoh commented on #408
Well spotting, thanks! This broke after changing the bundle names this afternoon.
I updated the URLs in ffdb492dde920c77b8f09137fac7ce17db3f41ec.

[2021-11-19 21:58] #408 closed

[2021-11-19 22:11] ankoh commented on #402
Thanks for the workbook, the raw IPC stream works but serializing the externally constructed arrow table within our bundle seems to be break it.
I'll take a closer look at it tomorrow.
https://observablehq.com/d/3a73e442912d9fde

[2021-11-19 22:18] ankoh commented on #394
Closing this for now. Feel free to open a follow up discussion.

[2021-11-19 22:18] #394 closed

[2021-11-19 22:28] domoritz opened #409 "Don't materialize stream"
Undo https://github.com/duckdb/duckdb-wasm/commit/35739b58347eafa95e0c429fda1396baafa8eb95 when https://issues.apache.org/jira/browse/ARROW-14780 is done and released.

[2021-11-20 10:35] ankoh commented on #402
The root issue here was that all bundles targeted es2020. We switched to es2015.
This will work now on Observable:
https://observablehq.com/d/3a73e442912d9fde

[2021-11-20 10:35] #402 closed

[2021-11-21 12:01] ankoh commented on #345
@peder1001 @hamilton @llimllib
I reworked the bundling this weekend.

You can read more about the current bundles here:
https://github.com/duckdb/duckdb-wasm/blob/51329add89adf9b3b9cd2e4d4b24dbae2515afdf/packages/duckdb-wasm/bundle.mjs#L9

The problems with apache-arrow are defused for now by bundling apache-arrow into the browser (esm) bundles.
(You don't need to patch the export mapping of apach

[2021-11-21 12:05] ankoh commented on #345
DuckDB-Wasm now ships with a more fine granular export map.
https://github.com/duckdb/duckdb-wasm/blob/51329add89adf9b3b9cd2e4d4b24dbae2515afdf/packages/duckdb-wasm/package.json#L84-L132

In most scenarios, a simple `import * as duckdb from "@duckdb/duckdb-wasm"` should be enough.
For browser builds, this should automatically resolve to `import * as duckdb from "@duckdb/duckdb-wasm/dist/duckdb-bro

[2021-11-21 15:02] llimllib commented on #345
This is great @ankoh ! Will be very helpful to people getting started

[2021-11-22 13:06] enjalot commented on #402
thank you!

[2021-11-22 15:28] llimllib commented on #345
tested it in my app and I was able to remove the name resolution hack, this is great

[2021-11-22 15:35] ankoh commented on #345
Closing this for now. @hamilton let me know if the problem persists.

[2021-11-22 15:35] #345 closed

[2021-11-29 18:53] enjalot commented on #393
anything I can do to help push this forward?
being able to use native dates (when importing from CSV) is the final hurdle for us being able to use this in a lot of places!

[2021-11-30 06:37] david542542 commented on #340
@ankoh @luckyfanghe can this item be closed now?

[2021-11-30 07:42] #340 closed

[2021-11-30 07:44] ankoh commented on #340
It includes the ref to writing + [copyFileToBuffer](https://shell.duckdb.org/docs/classes/index.AsyncDuckDB.html#copyFileToBuffer) so I'll leave it in Just shipped for now.
We can track the export via shell command in a separate issue.

[2021-11-30 10:45] ankoh commented on #373
Closing this for now since we're currently targeting main-stream browsers.

[2021-11-30 10:45] #373 closed

[2021-11-30 12:28] ankoh commented on #393
@enjalot I added preliminary support for date autocasts in **1.11.1-dev53.0**.

You can now pass the option **castTimestampToDate**

https://github.com/duckdb/duckdb-wasm/blob/fc162831a524eabe1a7fbec80df3f33d8ba01276/packages/duckdb-wasm/src/bindings/config.ts#L1-L37

to the database config in open:
https://github.com/duckdb/duckdb-wasm/blob/fc162831a524eabe1a7fbec80df3f33d8ba01276/packages/duckdb

[2021-11-30 12:28] #393 closed

[2021-11-30 19:12] uros87 opened #438 "not working examples for bare-browser and esbuild-browser"
when I try to run examples for those two projects ( bare-browser and esbuild-browser), I get errors. I cloned whole project and tried to run it.
Can someone give more info about it?

Also, can someone point me to working example for react and vanilla JS front-end project?

[2021-11-30 19:23] Alex-Monahan commented on #438
Thanks for giving it a try! What errors are you getting? What environment are you working in?

[2021-11-30 19:26] ankoh commented on #438
The examples are built with our CI and should work.
But they currently expect that the wasm modules are compiled within the project which is a little bit involved.

E.g. the bare browser example copies the wasm modules here:
https://github.com/duckdb/duckdb-wasm/blob/2a24868a42261f2345b4ea8857f1328eb26e5275/examples/bare-browser/bundle.mjs#L8-L13.
You'd have to point this to something like `./node

[2021-11-30 19:28] ankoh commented on #438
We could maybe make the examples independent of the monorepo at some point.

[2021-11-30 19:45] uros87 commented on #438
Hey Alex and ankoh thanks for answering.
I get:
GET http://127.0.0.1:8080/duckdb-browser.mjs net::ERR_ABORTED 404 (Not Found),
when i run examples.

@Alex-Monahan
I'm running in Ubuntu 18.04 if you mean env by that.

@ankoh
when i changed this line of code with this I still get the same error

![Screenshot from 2021-11-30 20-42-14](https://user-images.githubusercontent.com/40358084/144116901-66a68

[2021-11-30 19:46] ankoh commented on #438
You are still running the example in the monorepo. Copy the example folder out of the monorepo yarn workspace, fix the path and run npm install in the example folder.

[2021-11-30 19:56] ankoh commented on #438
Ah alternatively, you can do the following to run the examples in the monorepo:
1. Clone the repo
2. Run `yarn install`
3. Run `./scripts/npm_restore.sh 1.11.1-dev54.0`
4. Run `make examples`

[2021-11-30 19:57] ankoh commented on #438
This will copy the published dist folder from npm.

[2021-12-01 06:54] ankoh commented on #438
Closing this for now since this works as intended. We could track react examples in a dedicated issue.

[2021-12-01 06:55] #438 closed

[2021-12-01 09:08] ankoh commented on #381
Fixing this for now with the readahead acceleration and the caching bug fix for Benjamin. We can track the user-configurable readahead acceleration in a dedicated issue.

[2021-12-01 09:08] #381 closed

[2021-12-01 15:43] uros87 commented on #438
Thanks ankoh on thorough answers.
But I don't have a success to run example for bare-browser in isolation, though i successfully ran example in mono repo.

I've followed your instructions and i get

![Screenshot from 2021-12-01 16-41-44](https://user-images.githubusercontent.com/40358084/144265432-1c03fdf3-437d-428e-9217-d8c6bcb18034.png)

[2021-12-01 15:51] ankoh commented on #438
Did you install version 1.11.1-dev54.0 in the package.json?

[2021-12-01 16:04] uros87 commented on #438
"@duckdb/duckdb-wasm": "1.11.1-dev54.0"
   "@duckdb/duckdb-wasm": "^1.11.0"

I have tried with both of these versions, but I get the same error.

[2021-12-01 18:33] enjalot commented on #393
this is amazing, thank you so much!

[2021-12-01 18:35] enjalot opened #441 "are parameterized queries supported?"
from what I can tell I can't do something like `conn.query("select * from test where field = $1", myVariable)`

is this not supported within DuckDB or just not exposed in the bindings?

[2021-12-01 18:39] domoritz commented on #393
Should we set this as the default in the Observable client?

[2021-12-01 18:54] domoritz commented on #441
Yes, as prepared statements. See https://github.com/duckdb/duckdb-wasm/issues/117 and https://github.com/duckdb/duckdb-wasm/tree/master/packages/duckdb-wasm#prepared-statements.

I think we should automatically make a prepared statement in the [Observable client](https://observablehq.com/@cmudig/duckdb) when the user provides params (current ignored).

[2021-12-01 19:22] ankoh commented on #441
Also:
https://github.com/duckdb/duckdb-wasm/blob/d3d150ddbaaaa435462ddc4a7b50ff1a4dd8b2f3/packages/duckdb-wasm/test/bindings.test.ts#L55-L61

[2021-12-01 19:28] ankoh commented on #393
We could do that by default in Observable, yes.
We need to revisit this when DuckDB get support for time zones though since we're blindly reinterpreting timestamps as (UTC) dates with this option.
Doing this by default might lead to unexpected query results.

[2021-12-01 19:36] #441 closed

[2021-12-01 19:55] enjalot commented on #441
excellent, thanks for pointing me in the right direction!

I'm definitely motivated by supporting parameterized queries in the observable client.

[2021-12-03 05:17] hamilton commented on #345
Thanks @ankoh! Will be trying now, and probably time to turn back on my GH notifications :)

[2021-12-03 14:16] lawless-m opened #443 "bare + browser :) I think you underestimate how bare my environment is"
I'm trying to get DuckDB-WASM going on my own site

without being steeped in Bundling lore (I do write my own and use D3 no not entirely naked) I'm hitting a brick wall.

If one serves the files from

duckdb-wasm/examples/bare-browser/

then all you end up with is

Loading failed for the module with source “http://localhost/duckdb-browser.mjs”.

[2021-12-03 15:48] ankoh commented on #443
I'm sorry our examples are tested within the yarn workspace.
I understand that this is unnecessarily complex, we need to make our examples independent of the monorepo to allow for a simple c&p.

[2021-12-04 11:55] lawless-m commented on #443
the cliff is quite steep

/me harks back to the days to ./configure && make && sudo make install

[2021-12-05 19:10] domoritz commented on #441
I just added support for parameterized queries to the Observable client at https://observablehq.com/@cmudig/duckdb.

[2021-12-06 16:02] enjalot commented on #441
I'm struggling to find documentation on the prepared statements, and specifically how i could deal with array values.

if i want to do something like `db.query("SELECT * FROM events WHERE device IN (?)", [["mobile", "desktop"]])` so that I don't have to prepare the right number of `?` in the query is that possible? I've been able to do this in PostgreSQL but not clear how standard that is across d

[2021-12-06 16:25] ankoh commented on #441
Ah interesting. Yes, we do not yet support arrays as parameter types, unfortunately.

[2021-12-06 16:34] domoritz opened #447 "Support array arguments in prepared statements"
See https://github.com/duckdb/duckdb-wasm/issues/441#issuecomment-986913723

[2021-12-06 16:35] domoritz commented on #441
I filed https://github.com/duckdb/duckdb-wasm/issues/447. Luckily, the Observable client will just work when this is added.

[2021-12-06 16:40] enjalot commented on #441
excellent, thanks for filing that one!

[2021-12-07 00:45] stratospark opened #448 "histogram causes crash"
The following currently breaks on https://shell.duckdb.org/. It works fine on my CLI.

[code]

error in browser console:

[code]

expected result
[code]

[2021-12-07 03:12] domoritz commented on #393
The [Observable DuckDB client](https://observablehq.com/@cmudig/duckdb) defaults to dates now.

[2021-12-07 08:09] ankoh commented on #448
Thanks for reporting this. That's a bug in the shell.
DuckDB-Wasm itself will return an arrow.Map_.

https://github.com/duckdb/duckdb-wasm/blob/ffa9210415e394fa84f0c769a54ef86b169bc2ab/packages/duckdb-wasm/test/regression/github_448.test.ts#L18-L33

[2021-12-07 08:16] ankoh commented on #447
Right now, we're just `JSON.stringify` the arguments here:

https://github.com/duckdb/duckdb-wasm/blob/ffa9210415e394fa84f0c769a54ef86b169bc2ab/packages/duckdb-wasm/src/bindings/bindings_base.ts#L197-L210

and then unpack them here:

https://github.com/duckdb/duckdb-wasm/blob/ffa9210415e394fa84f0c769a54ef86b169bc2ab/lib/src/webdb.cc#L219-L242

We probably just need to extend rapidjson::Document ->

[2021-12-15 13:08] samansmink opened #470 "Interval type unsupported in query output"
Interval Type is not working as expected.

Query `SELECT INTERVAL '3' MONTH AS interval`
- on shell.duckdb.org: outputs an empty line.
- on DuckDB cli it returns:

[code]

Reason for this appears to be that DuckDB sets the type for Interval to the Duration type ("tdm" type from [arrow c data interface docs](https://arrow.apache.org/docs/format/CDataInterface.html?highlight=tDm)). The Interval is c

[2021-12-15 16:54] ankoh commented on #470
CC @domoritz

[2021-12-15 17:12] ankoh commented on #470
Can we use the time type?

[2021-12-15 17:22] ankoh commented on #470
We have 2 other optional autocasts already. BigInt -> Double, Timestamp -> Date64. We could maybe just autocast Duration -> Time64? I can take a look at it next week.

[2021-12-15 17:40] samansmink commented on #470
Yea thats the weird thing, the Time64 is working fine, so it seems trivial to also support the Duration type in Arrow JS, but maybe i'm missing something. Casting to Time64 seems like a good workaround!

[2021-12-15 18:03] ankoh commented on #470
Awesome! Then I'd say we do exactly the same as in #393 and add the database option castDurationToTime64 which can probably just default to true in this case.

[2021-12-15 20:23] samansmink commented on #470
That sounds like a great first PR for me 😁  I'll take a look!

[2021-12-16 05:48] domoritz commented on #470
Note that in the next arrow version we want to embrace bigint more so that a conversion to float/two ints may not be necessary anymore. Just wanted to mention it so we can think about it for the api design.

[2021-12-16 09:09] samansmink commented on #470
ah that very useful! thanks!

[2021-12-16 21:17] kimmolinna opened #473 "Extra cpp-folder in submodules/arrow-folder"
`make bootstrap` won't clone `arrow`-folder because of empty `cpp`-folder in `arrow`-folder.

[2021-12-17 14:44] samansmink opened #477 "cast decimal to double option"
Just found out that Arrow JS has a open issue where negative decimal types do not work properly ([link](https://issues.apache.org/jira/browse/ARROW-6575))

Maybe its good idea to add a fourth cast option similarly to PR #476 called `castDecimalToDouble`? I can do another PR for it?

[2021-12-17 18:00] ankoh commented on #477
Sure, sounds good! We can just add a deprecation warning later when they are resolved. 👍🏻

[2021-12-18 18:00] #470 closed

[2021-12-21 17:54] #477 closed

[2021-12-21 18:06] ankoh commented on #473
Can you please try to clone the repository to a new path? (Or alternatively delete `submodules/arrow` and run `git submodule update --init` again)
This is likely the result of a workaround that we use to make arrow play nicely with our ccache:
https://github.com/duckdb/duckdb-wasm/blob/60d0186dbcd7bb9e037f04403709fd812455f4a6/lib/cmake/arrow.cmake#L56

[2021-12-21 20:48] kimmolinna commented on #473
This was mainly FYI. I was able to clone everything after this change. I had some issue with older ccache but when I updated to the newest version everything worked nicely.

[2021-12-21 23:21] ankoh commented on #473
Thanks for reporting this.
I think this targets the general simplification of the dev setup.
Right now, building duckdb-wasm is still fairly complicated.
I'll close this for now.

[2021-12-21 23:21] #473 closed

[2021-12-22 13:15] Y-- commented on #251
Wouldn't the `SET` work as well like in [this example](https://github.com/duckdb/duckdb/blob/f9e6e867554ec977a2e2c7f3c8e9b9a404588753/test/sql/copy/parquet/test_parquet_remote.test#L73)?

[2021-12-22 13:44] ankoh commented on #251
Sure, we should support that as well.

[2021-12-25 22:00] holdenmatt opened #501 "Any plan to support the relational API in JS?"
Thanks for the great library!

The relational API in DuckDB Python is quite nice compared to constructing SQL queries as text.

Is there any plan to support that API here, or will it remain only a Python API?

[2021-12-26 10:50] ankoh commented on #501
Not yet, but I'd happily review a PR!

[2022-01-09 00:18] holdenmatt commented on #501
Ok, thanks for the info!

[2022-01-09 00:18] #501 closed

[2022-01-10 23:13] stratospark opened #530 "Cannot resolve package"
Our custom bundler script couldn't handle this package. After some investigation I discovered a typo in the `package.json` which I've fixed in #529

Current Behavior:
[code]

Expected Behavior:
[code]

[2022-01-11 07:36] #530 closed

[2022-01-11 17:03] domoritz opened #536 "Add bundle for WASM exceptions without SIMD."
Safari 15.2 supports exceptions and it would be nice if we could benefit from them in duckdb.

[2022-01-11 17:06] domoritz commented on #536
Safari 15.2 ships with iOS and iPadOS 15.2 and macOS 12.1. https://developer.apple.com/documentation/safari-release-notes/safari-15_2-release-notes

[2022-01-11 17:24] stratospark commented on #530
@ankoh When can we expect a new build to be pushed to npm? I'm looking forward to integrating this at work 😄

[2022-01-11 17:32] ankoh commented on #536
Lets flip this with b17d6a7d541eec25fedfd2207ce3146530134214 . We can add a dedicated SIMD bundle later but the effect is significantly smaller than wasm eh.

[2022-01-11 17:32] #536 closed

[2022-01-11 22:02] ankoh commented on #530
Awesome! Published in v1.13.0.

[2022-01-13 18:07] ankoh commented on #377
The file command no longer open an overlay and now support:
[code]

[2022-01-13 18:08] #377 closed

[2022-01-13 18:10] ankoh commented on #409
I think we can close this until DuckDB-Wasm gets async I/O. The overhead of this copy will rarely hurt if we cannot materialize directly into the wasm heap.

[2022-01-13 18:10] #409 closed

[2022-01-13 18:13] ankoh commented on #105
The shell has the command `.files download $FILE` now. I'd prefer to stick to that since auto downloading requires us to glob after every query.

Outside of the shell, you can always use `db.copyFileToBuffer('/out/somefile.csv')` to get the array buffer.

[2022-01-13 18:13] #105 closed

[2022-01-14 20:36] braaannigan commented on #443
Hi @ankoh - I'm very excited about your project. I'm not a front-end expert, but I've managed to get the bare-browser example working with yarn.

However, when I inspect the console I see an output that shows the query, but not an output that shows the output of the query. Can you let me know how I can generate that?

Also, would you be interested in a PR that adds a readme to the browser examples

[2022-01-18 17:20] domoritz opened #553 "Pasting does not work in the shell in Safari"
Trying to paste SQL in https://shell.duckdb.org results in `Failed to read from clipboard` printed in the browser console.

[2022-01-20 10:35] ankoh commented on #251
Added in https://github.com/duckdb/duckdb-wasm/pull/557

[2022-01-20 10:35] #251 closed

[2022-01-23 10:42] ankoh commented on #256
<img width="1010" alt="Screenshot 2022-01-23 at 11 38 46" src="https://user-images.githubusercontent.com/3986510/150674779-47dc1892-3167-4896-98f5-ec29f0035a45.png">
First .examples command added in b1bf2587b9cf34c2cb77823378d20b57f0e4776d

[2022-01-23 10:42] #256 closed

[2022-01-23 10:44] ankoh commented on #123
The shell is a standalone npm package now and is already used as such by the duckdb-wasm-app.
https://github.com/duckdb/duckdb-wasm/blob/b1bf2587b9cf34c2cb77823378d20b57f0e4776d/packages/duckdb-wasm-app/src/pages/shell.tsx#L2

[2022-01-23 10:44] #123 closed

[2022-01-23 16:33] ankoh commented on #271
042472cab0be82b4b19a6ad4d265872bd030f0bd adds an option to generate size-optimized builds but the reduction is only marginal.
Closing this issue for now, as compiler flags alone (-Os/-Oz/inline limit) won't be enough.
We probably need to look into making dependencies such as Parquet optional.

[2022-01-23 16:33] #271 closed

[2022-02-14 06:10] l1t1 opened #615 "﻿create table on duckdb 0.33-dev105 web shell and count() ok, but cannot run sum()"
﻿create table on duckdb 0.33-dev105 web shell and count() ok, but cannot run sum(), it reported `tried to read past the end`
reproduction
[code]
and duckdb32 on windows is ok.

[code]

[2022-02-14 06:12] l1t1 commented on #615
`select i from t` also reported same error.

[2022-02-14 06:25] l1t1 commented on #615
if the range is small,say 1000000,  everything is ok.

[2022-02-14 08:11] ankoh commented on #615
Hi @l1t1, thanks for reporting this!

This is a limitation that we can't work around at the moment.
1'000'000'000 bigints will take 8GB of space uncompressed which exceeds the wasm heap size limits of 4GB.
We can certainly do a bit better with the reported error here.

We may be able to support this in the future through persistent writes to disk but that's not possible today.

[2022-02-14 08:11] #615 closed

[2022-02-14 08:13] ankoh commented on #615
6962efea5951c60d97c52cd866df46c5831b6783 will change the error to:
[code]

[2022-02-21 08:11] l1t1 commented on #615
﻿at first, it works as you mentioned, but after setting PRAGMA temp_directory='e:\\tmp', the old error msg appear.
and I did not see any new file at e:\\tmp.

[code]

[2022-02-21 08:46] ankoh commented on #615
Yes, that's also expected.
DuckDB-Wasm doesn't support tables larger than the wasm heap limits today.
The tmp filesystem in faked in the browser and won't work here.

We're waiting for this to be resolved:
https://github.com/whatwg/fs/issues/7

We can work towards spooling to disk with DuckDB-Wasm but (for now) only if browsers start supporting a fully synchronous filesystem api.

[2022-02-22 05:10] zenazn opened #629 "What do COI and EH mean?"
Maybe a dumb question, but I wasn't able to find answers on my own by reading the code. What do "COI" and "EH" mean? (I presume "MVP" means "minimum viable product," but maybe that's wrong?)

[2022-02-22 05:23] Alex-Monahan commented on #629
I belive coi is [cross origin isolation](https://web.dev/why-coop-coep/), and EH is [exception handling](https://github.com/WebAssembly/exception-handling/blob/main/proposals/exception-handling/Exceptions.md)

Does that help?

[2022-02-24 03:31] zenazn commented on #629
Yes! Thank you

[2022-02-24 03:31] #629 closed

[2022-02-25 12:46] lexanth opened #638 "Publish react-duckdb to NPM"
I'm looking at using duckdb in a react app, so the code in react-duckdb is really useful.

Is there a plan to get it published to NPM? The code as-is would be a handy initial version.

[2022-02-28 14:48] lexanth commented on #638
I've currently got the `react-duckdb` source duplicated in my app. It doesn't seem to need any special bundling itself, but I did need some webpack config to load the bundles (but they get provided to the `DuckDBPlatform` provider anyway).

Currently just passing the source of `react-duckdb` through `tsc` would appear to be enough, without doing any special bundling.

[2022-03-07 14:44] ankoh commented on #638
I published react-duckdb as source library here: https://www.npmjs.com/package/@duckdb/react-duckdb
We'll bundle this properly in April.

[2022-03-07 14:44] #638 closed

[2022-03-11 09:34] davidgasquez opened #676 "Online shell font looks weird"
#### What happens?
The rendering of the https://shell.duckdb.org/ shell font looks odd.

![1646991083](https://user-images.githubusercontent.com/1682202/157840873-d8a87348-9cc8-4c54-a941-4e80ea5ac947.png)

#### To Reproduce
Open https://shell.duckdb.org/.

#### Environment (please complete the following information):
 - OS: Arch Linux
 - Browser Version: Brave Browser 99.1.36.112

[2022-03-16 18:41] domoritz commented on #676
Sounds like this can be closed since it's out of the scope of duckdb-wasm.

[2022-03-16 18:41] #676 closed

[2022-03-26 09:49] ankoh commented on #159
We support synchronous UDFs written in JavaScript now.

[2022-03-26 09:49] #159 closed

[2022-03-26 16:52] aitskovi opened #686 "Parquet remote URLs don't work in nodejs"
I'm attempting to use duckdb-wasm from node (using the node-bare) example and running into an issue with it being unable to access web URLs (parquet files) as tables. Here's an example query & error message:

Query: `select * from 'https://shell.duckdb.org/data/tpch/0_01/parquet/orders.parquet' limit 10`

[code]

This query works correctly on shell.duckdb.org

Included below is a minimal reproduct

[2022-03-26 17:40] ankoh commented on #686
You are right @aitskovi yes that's expected.
The node version does not support reading from HTTP files today.
It should be fairly easy to add, I can do this next week.
But please note that it's usually more desirable to use the native DuckDB version with node.js as DuckDB-Wasm is not multithreaded today and is bound to the wasm heap limits.

[2022-03-26 17:50] aitskovi commented on #686
@ankoh Got it! And makes sense.

To confirm, I'm assuming that https://duckdb.org/docs/guides/import/http_import is supported on the node js version.

[2022-03-26 17:51] aitskovi commented on #686
We're still in the prototyping phase for our usecase, so just looking for the shortest path to get something to play around with on our end.

[2022-03-26 17:53] ankoh commented on #686
Yes, the node.js version is just a thin wrapper around DuckDB and also supports the HTTP extension.
Sounds good! Let us know if there's anything we can help with.

[2022-03-26 18:48] DnOberon opened #687 "When Opening From URL, Allow Users To Provide Custom Headers"
The request is hopefully pretty transparent from the title. When a user attempts to open a db connection by providing a URL path, allow them to also specify headers for the underlying request. Use case is when the db file might be a protected resource and behind some kind of authorization.

[2022-03-26 19:23] ankoh commented on #687
@DnOberon makes sense, we should support that!
But I'd propose to support HTTP headers through the "registerFileURL" methods instead.
That would streamline providing credentials for other HTTP files as well.
I can add that beginning of April.

[2022-03-26 19:25] DnOberon commented on #687
Even better!

[2022-03-26 20:12] Alex-Monahan commented on #687
Maybe it would also work well as a pragma or configuration like the s3 related settings? It would be good to support in all clients I think!

[2022-04-03 15:06] domoritz commented on #553
Pasting in safari works for me now.

[2022-04-03 15:06] #553 closed

[2022-04-05 10:41] mjbcopland opened #699 "Range requests of remote files not supported for S3 presigned URLs"
https://docs.aws.amazon.com/AmazonS3/latest/userguide/ShareObjectPreSignedURL.html

Emphasis mine. Presigned URLs are only valid for a single method, i.e. if we create a GET URL to download a remote file, we cannot use HEAD on that URL.

[code]

Globbing this URL fires of a HEAD request which returns 403 and the overall query fails with `Uncaught (in promise) Error: WebAssembly.Exception: wasm exc

[2022-04-11 08:05] ankoh commented on #699
Thanks for reporting this.
Yes we deliberately switched to HEAD requests a while ago to defuse the situation where the remote would just ignore the range header and would send us everything instead.
By default, DuckDB-Wasm will only download the entire file as fallback for unsupported range headers if a configuration option set.

I didn't consider presigned URLs though.
Maybe we can switch back to

[2022-04-11 13:37] mjbcopland commented on #699
I think HEAD requests still make sense for the majority of use cases. I just found it hard to override this behaviour for niche cases, e.g. presigned urls.

fwiw I ended up importing `BROWSER_RUNTIME` and `createDuckDB` from `@duckdb/duckdb-wasm/dist/duckdb-browser-blocking` and using it to create my own worker with a custom `openFile`, but it took a lot of reverse engineering of the original sour

[2022-04-13 10:19] spff opened #706 "Big file limitation"
Hi, I'm wondering if there is any limitation on browser/code or just my RAM is running out?
I encountered `Uncaught (in promise) Error: malloc of size 1073741824 failed` when loading a 150MB parquet (6M cells).

[2022-04-13 13:18] Alex-Monahan commented on #706
Hello!
Sorry that you ran into that issue! Could you please send us a few more details to help us troubleshoot? Could you provide your code, and ideally the parquet file? Also, what OS, browser, and DuckDB version are you using?

[2022-04-13 15:32] spff commented on #706
chrome 100.0.4896.75 (Official Build) (arm64)
macOS Monterey 12.3.1 (21E258)
Chip:	Apple M1
Memory:	16 GB
@duckdb/duckdb-wasm 1.13.1-dev285.0

I can't provide the parquet but it has 200k rows, 6M cells, 150MB, and if I turn it into json, it'll be 450MB.
Happened on `registerFileBuffer` and `registerFileURL` and `select * from "url.parquet"` as the example in doc

[2022-04-21 07:46] ankoh commented on #706
`1073741824` are 1 GB. It depends a bit on your browser, but that might exceed your heap limit (of sometimes 2GB) quickly.
What kind of query are you executing?
Can you please try the following:

Open the web sell at shell.duckdb.org.
Add your parquet file with `.files add`.
Run a simple `select count(*) from 'filename'`.
That should work and will internally use the third option to register files

[2022-04-21 08:04] spff commented on #706
It works for a 9XXMB parquet!
[code]

I think it was the heap limit as you relied.

[2022-04-21 08:06] #706 closed

[2022-04-22 04:38] bmschmidt opened #737 "Configure readahead buffer settings"
In #381 there was some discussion about making readahead buffer settings user-configurable, but also a note from @ankoh that

I'm interested in these features though I have no idea if they'd actually help me, so I just wanted to check in.

Is core duckdb getting closer to allowing async js promises? Would it be useful/possible to allow configuring some/all of the [four readahead constants](https:/

[2022-05-12 08:37] myagues commented on #638
Hi @lexanth, which webpack config did you use to make it work, I am currently facing this issue:

@ankoh the examples folder is very helpful, maybe it could be possible to add a react example alongside the other cases.

[2022-05-12 08:46] ankoh commented on #638
@myagues maybe the demo itself helps you?
It is a user of react-duckdb and is written with react.
https://github.com/duckdb/duckdb-wasm/tree/master/packages/duckdb-wasm-app

react-duckdb is currently just a source-only library that is not transpiled.
So in order to use it, you'll have to include a typescript loader in your webpack config.
The demo just uses the ts-loader:
https://github.com/duckdb

[2022-05-12 19:21] ghuysmans opened #771 "".files list" causes crash"
Here's a minimal reproducer:
[code]

Error and stacktrace:
[code]

Environment:
- Browser: Edge 101.0.1210.39
- OS: Windows 11 version 21H2

[2022-05-12 22:41] ankoh commented on #771
Fixed in 3620be46fccde1b25968c54c7f6e3bead545b9ed, thanks for reporting this.

[2022-05-12 22:41] #771 closed

[2022-05-13 22:22] gcallxpert commented on #443
A vanilla JavaScript example would be great. (not using any bundlers)

Spent a day and still couldn't have one up and running

[2022-05-27 10:40] okpatil4u commented on #443
I agree with @gcallxpert. It would be easier to understand and use it this way.

[2022-06-07 04:06] sgilligan commented on #443
If this helps - I've created a sandbox demo - https://codesandbox.io/s/7ss39r?file=/src/DuckDb.js

[2022-06-07 05:23] okpatil4u commented on #443
Thank you @sgilligan, it helps !!

[2022-06-08 03:35] maxcountryman commented on #122
It would be fantastic to be able to consume a Rust crate. Ideally, I'd be curious to leverage this with [Yew](https://yew.rs).

[2022-06-08 16:18] ankoh commented on #122
Sounds interesting. If you want to play around with it today, you could just copy over https://github.com/duckdb/duckdb-wasm/blob/master/packages/duckdb-wasm-shell/crate/src/duckdb/async_duckdb.rs for now.
Our web shell is written in rust and streams query results as arrow ipc streams into arrow-rs.

[2022-06-15 14:40] hustnn opened #838 "CORS error when access parquet from s3"
I am using https://shell.duckdb.org/ to read a parquet from S3.
[code]
I also followed https://docs.aws.amazon.com/AmazonS3/latest/userguide/enabling-cors-examples.html to set CORS for S3. However, I still got the error

`duckdb-browser-eh.worker.9db3d2ba08abf891a1f4.js:2 Access to XMLHttpRequest at 'https://eth-chain.s3.amazonaws.com/xxx/part-1.gz.parquet' from origin 'https://shell.duckdb.org' h

[2022-06-15 15:26] Mause commented on #838
Are you able to see what the actual response is in the network tab in your browsers devtools? You might be actually getting an auth error, for example

[2022-06-15 18:33] david542542 opened #839 "Enabling extensions in the wasm build"
It would be nice to be able to easily make the wasm build by including one or more extensions, such as the [JSON](https://duckdb.org/docs/extensions/json) one. And I'm sure as the project involves there will be many more practical extensions that someone might want to use, so I'll break this down into two items:

1. It would be great to have instructions for a developer to be able to build wasm wi

[2022-06-16 00:35] hustnn commented on #838
@Mause I attached the response above.

[2022-06-16 00:59] Mause commented on #838
@hustnn as you can see in the screenshot, your actual issue is an authentication one. I would suggest making sure your aws credentials can actually access that s3 bucket

[2022-06-16 01:03] hustnn commented on #838
@Mause Actually I can access the S3 the same way with duckdb cli so I think s3 is accessible. Are you able to access the parquet in s3 from https://shell.duckdb.org/?

[2022-06-16 06:57] Mause commented on #838
Perhaps verify that the headers being sent are the expected ones in the network console?

[2022-06-16 16:37] mewim opened #840 "Increase memory limit to 4GB?"
It seems that duckdb-wasm has a memory limit of 1.7GB, which might be due to the 2GB memory limit of WebAssembly previously.

[code]

Now, it seems that the major browsers can support a 4GB memory limit, and it requires only setting up a flag for emcc to according to [Up to 4GB of memory in WebAssembly](https://v8.dev/blog/4gb-wasm-memory#:~:text=Thanks%20to%20recent%20work%20in,512MB%20or%201GB%2

[2022-06-21 08:26] ankoh commented on #840
Good catch, yes we should support 4GB heap memory in Chrome.
But if this is exclusive to Chrome, we have to ship dedicated wasm modules and I'm undecided if we should just double our module count here.
Today, we are already shipping a module for the minimum wasm MVP feature profile, a module with exception handling enabled, and an experimental one for shared array buffers.

[2022-06-21 08:36] ankoh commented on #839
Shipping extensions by default in all of our bundles bloats the module sizes for everyone, we already did this for Parquet and FTS but we have to be a bit careful here.
Especially since duckdb-wasm already has a dedicated efficient json import.

[2022-06-22 00:11] mewim commented on #840
Hi @ankoh,

Thanks for your reply. It seems according to [this ticket](https://bugzilla.mozilla.org/show_bug.cgi?id=1660420),

So maybe it is fine to just distribute one binary with 4GB memory limit without breaking the compatibility of other browsers?

[2022-06-22 21:46] david542542 commented on #839
@ankoh cool, in terms of adding in an extension loading mechanism, how much work do you think that might involve? Seems like being in experimental territory should probably be fine, since the whole extension/plugin framework seems pretty new and all.

[2022-07-05 06:03] david542542 opened #871 "Implement cancelable query API"
Should be able to implement a way to cancel a query from the API even though DuckDB doesn't currently support concurrency. Also, can't just destroy a connection if that connection has in-memory tables (that would be lost of closing it).

[2022-07-05 10:58] hi-sunshine opened #872 "Does duckdb-wasm support local persistency of data in browser"
Does duckdb-wasm support local persistency of data in browser ?  if not, is there any plan to support it ? thanks!

[2022-07-05 11:29] ankoh commented on #872
We cannot support local persistency today since browsers insufficiently support blocking I/O today.
But we're planning to support local persistency once this lands: https://github.com/whatwg/fs/issues/7#issuecomment-1162501488

[2022-07-06 01:31] DingoEatingFuzz opened #873 "Sum of integer fields results in a 4 element Uint32Array instead of a number"
Maybe this is a user/documentation error, but I was surprised by this result.

**What happened**

Given this table:

| id | foo (integer) |
| --- | --------- |
| 1 | 10 |
| 2 | 20 |
| 3 | 50 |

[code]

results in a record with the shape

[code]

**What was expected**

A record with the shape

[code]

Incidentally, if the data type for the column is `double`, the result _is_ a number, and it will a

[2022-07-06 03:49] DingoEatingFuzz commented on #873
Never mind! I fell further down this rabbithole and learned some things I'll document here in case someone ends up on this issue in the future.

1. The result is not a 4 element `Uint32Array`. If you check out the constructor of the object, it's actually a [`DecimalBigInt`](https://github.com/apache/arrow/blob/master/js/src/util/bn.ts) from the Arrow library.
2. These objects can be cast to values

[2022-07-06 03:49] #873 closed

[2022-07-06 05:15] domoritz commented on #873
I'm a bit confused. Arrow should support bigints and return them from calls on a `Table`. Can you specify what api you called to get your output?

[2022-07-06 06:20] DingoEatingFuzz commented on #873
Yeah, most of what I have has been more or less copy/pasted from yours (and others) Observable template: https://observablehq.com/@cmudig/duckdb

So the call stack more or less looks like:

1. Receive Arrow DecimalBigInt from:
2. A record in the `rows` object which comes from
3. `result.toArray().map(Object.fromEntries)` where `result` comes from
4. `db.query` which calls
5. `statement.query` whic

[2022-07-06 14:36] domoritz commented on #873
I'd avoid mapping Object.fromEntries since it makes a copy and kills performance. Can you directly work with arrow?

[2022-07-06 16:32] DingoEatingFuzz commented on #873
Potentially! The performance issue is good to know about. At this moment in my project I'm not too concerned about performance--honestly the whole DuckDB component was just a fun aside for this climate dashboard, which itself is kind of a fun aside from research into various data viz libraries, which is also a fun aside from building out a data viz component library in Ember.

But library interop

[2022-07-10 20:46] domoritz commented on #873
Potentially. But ideally we should be using bigints all the way. Could you try to reproduce the issue on Observable with data being directly generated in a query so I can try to dig into what's happening?

[2022-07-12 18:34] #839 closed

[2022-07-18 04:21] jzavala-gonzalez opened #891 ""memory access out of bounds" after updating to 1.15.0"
## Overview

Hi, I was updating some modules in a repo for duckdb-wasm-examples and I found that updating @duckdb/duckdb-wasm from 1.14.4 to 1.15.0 broke the example's capability to read parts of the parquet file being used. The UI of the example allows one to display/filter entries by year, and when attempting to select past a certain year a "memory access out of bounds" error would pop up and no

[2022-07-18 12:25] ankoh commented on #871
The connection now provides the method `cancelSent` to cancel a query that was executed asynchronously using `send`.
https://github.com/duckdb/duckdb-wasm/blob/c43a2ccd21669efc3932418356a70ce00a757821/packages/duckdb-wasm/src/parallel/async_connection.ts#L74

As potentially breaking change, the method `send` on the synchronous bindings is not asynchronous as well.
https://github.com/duckdb/duckdb-

[2022-07-18 13:55] ankoh commented on #840
<img width="1377" alt="Screenshot 2022-07-18 at 15 54 24" src="https://user-images.githubusercontent.com/3986510/179527059-7c9fafbc-1570-44d5-917f-875788440b91.png">

Added in 78564bbb220302cc532de91ea6182f8f89322798

[2022-07-18 13:55] #840 closed

[2022-07-18 13:55] #871 closed

[2022-07-18 13:58] ankoh commented on #384
DuckDB-Wasm now provides `cancelSent` to cancel a query previously executed with `send`.
https://shell.duckdb.org/docs/classes/index.AsyncDuckDBConnection.html#cancelSent
https://shell.duckdb.org/docs/classes/index.DuckDBConnection.html#cancelSent

[2022-07-18 13:58] #384 closed

[2022-07-18 14:16] chenxi8611 commented on #871
These APIs are great.
I would like to test these APIs, can you let me know how I can test these APIs properly?

[2022-07-18 15:27] ankoh commented on #871
The connection just calls those internally:
https://github.com/duckdb/duckdb-wasm/blob/86032f2d703bb92fff2d91fe110f80ab92cdc487/packages/duckdb-wasm/src/bindings/connection.ts#L60

[2022-07-25 05:34] Mause opened #907 "Error [RuntimeError]: Aborted(). Build with -sASSERTIONS for more info"
I've been playing around with trying to get duckdb-wasm running in netlify functions, but I'm having some issues with the wasm side

I'm currently using `@duckdb/duckdb-wasm` version "1.16.0", the code is in this repo: https://github.com/Mause/duckdb_website_search

[code]

[2022-07-25 14:27] ixxie opened #908 "Read-only access"
It would be great to support read-only connections in duckdb-wasm!

FWIW in our usecase, we want the backend to drive mutating database operations through endpoints, and while allowing the frontend to run non-mutating analytical queries freely.

[2022-07-26 04:31] Mause commented on #907
@ankoh there doesn't seem to be much in the way of build instructions anywhere, should i be doing `make wasm_debug js_debug` or somesuch?

[2022-07-26 05:06] Mause commented on #907
Okay, progress!

[code]

Unfortunately doesn't seem that much more helpful?

[2022-07-28 10:16] ankoh commented on #907
Ah wait, lets start simple here: Does executing a `Select 42` return a correct result when opening the database in-memory without a path?
WebFileHandle points to an interaction with the web filesystem which immediately adds plenty of other possible failure points.

[2022-07-28 14:10] Mause commented on #907
Yep, that seems to work fine - are there docs describing how I'm supposed to be opening on disk databases with duckdb-wasm?

[2022-07-28 14:22] ankoh commented on #907
I haven't really written many docs for DuckDB-Wasm. :)
But we can check something else first:
Can you please scan the following file in the netlify worker:
https://shell.duckdb.org/data/tpch/0_01/parquet/lineitem.parquet

Just download the file, upload it the same way you uploaded the database file and then try 2 things:
First reference the plain file in the SQL text and if that doesn't work, regi

[2022-07-28 14:22] ankoh commented on #907
If that works, we're quite close.

[2022-07-28 15:53] Mause commented on #907
@ankoh what exactly should I be passing for the handle? The path to the file? (The parameter is very weakly typed)

[2022-07-29 05:14] Mause commented on #907
Okay, using `registerFileBuffer` I'm able to read the parquet file fine (see https://duckdb-website-search.netlify.app/.netlify/functions/short and https://github.com/Mause/duckdb_website_search/blob/main/api/short.ts)

Trying to do the same with the database gives me a read-only filesystem error (see https://duckdb-website-search.netlify.app/.netlify/functions/index?q=Hello%20world and https://gi

[2022-07-29 08:31] ankoh commented on #907
DuckDB-Wasm will just run `fs.readSync` on the file handle.
https://github.com/duckdb/duckdb-wasm/blob/15c8075b5f82d3d32386c5c1cd425b5473524de6/packages/duckdb-wasm/src/bindings/runtime_node.ts#L155

In node.js, you can therefore pass the file descriptor returned by `fs.open` to duckdb-wasm.
It's terribly typed, because this argument is either the fd on node.js or the html 5 file handle returned f

[2022-07-31 12:11] Mause commented on #907
Okay, in the end I was able to make this work using that method, but only after copying it to the `/tmp` filesystem, to work around the readonly filesystem error

[2022-07-31 13:55] ankoh commented on #907
Great! Then we have to try this again after https://github.com/duckdb/duckdb-wasm/issues/908

[2022-08-10 14:01] noppaz opened #933 "Opening duckdb files in web shell isn't possible"
Trying to query tables from a duckdb file database isn't possible in the Web Shell as the `.open` command doesn't actually connect to it.

Steps:
1. Add file.duckdb with `.files add`
2. Open it with `.open file.duckdb`
3. The text `Connected to a local transient in-memory database.` changes to `Connected to a read-only remote database at: file.duckdb.`

Expected tables are still not there to query

[2022-08-14 14:28] droher opened #939 "COI pthread worker unsupported on manual bundling"
I noticed that COI/pthreads aren't included in the manual bundling examples, and I'm wondering if it's possible to support it.

I'm using Vite (3.0) to to set up the duckdb workers, which works fine for `mvp` and `eh`, but throws an error for `coi` when it is supported because of a relative path issue. Here's the code, which is basically the same as the Vite example in the README but with the COI

[2022-08-14 16:56] aghasemi opened #940 "DuckDB in Pyodide?"
Hi,

May I ask please, if there has been an attempt to use the DuckDB Python package in Pyodide? Given that the native code is already ported, there shouldn't a lot if work remaining. No?

Many thanks
Best

[2022-08-16 09:17] ankoh commented on #940
Hey, there is quite a bit of work remaining depending on the feature set that you're asking for.
If you'd be searching for a bare-bone duckdb instance without http filesystem, the missing pieces would be mostly porting over the python api to pyodide.
But DuckDB-Wasm ships with a few more components to integrate with the browser apis.
(E.g. something like `SELECT * FROM 'http://foo'` uses a browser

[2022-08-16 10:00] ankoh commented on #939
We don't officially support threads at the moment as SharedArrayBuffers are too painful.
The bundle feature exists for our experiments but you shouldn't use it today.

[2022-08-16 15:12] Tishj opened #949 "Simple range select causes infinite loop"
## To reproduce
[code]

## Environment details

Client: shell.duckdb.org
Version: 0.4.0 (@duckdb/duckdb-wasm@1.16.1-dev51.0)

## Reproducable outside of WASM?

I have tried this same query on DuckDB CLI (master:latest), it completes just fine there

[2022-08-20 02:53] sgilligan commented on #448
@ankoh will the shell display the result? When I try the shell shows an elapsed time count by nothing else

[2022-08-31 07:47] kimmolinna opened #983 "date_part is not working with DuckDBClient in ObservableHQ [RangeError: Maximum call stack size exceeded.]"
@domoritz The following example from web page is not working in ObservableHQ with Safari or Chrome/IOS:
`SELECT date_part('minute', TIMESTAMP '1992-09-20 20:38:40')`  and it’s working in shell.duckdb.org

[2022-08-31 08:01] kimmolinna commented on #983
This is working when you reload the page. I don’t understand why…

[2022-08-31 08:05] kimmolinna commented on #983
Or actually you just have to reload the client.

[2022-08-31 14:23] domoritz commented on #983
Can you send a link to a notebook and what browser you are using?

[2022-09-02 05:11] kimmolinna commented on #983
https://observablehq.com/d/7699b0c727da6fb5
There isn't any problem with my computer but on IOS/Safari and Chrome I have to re-run the client all the time to get the changes work. Then It work without any problem.

[2022-09-02 19:44] MannySchneck opened #989 "Source map errors when compiling with webpack"
When I compile with webpack, I get many warnings about sourcemaps for `apache-arrow`.

[code]

It looks like something, somewhere, is inserting a duplicate path segment `visitor/visitor`, `util/util`, `builder/builder`, etc.

I don't these warnings from `@apache-arrow/ts@8.0.0`, which I have installed separately. Is there something about the `duckdb-wasm` build that changes these sourcemaps?

[2022-09-06 05:56] kimmolinna opened #994 "S3 is not working properly with DuckDBClient"
@domoritz
The following is working nicely in `shell.duckdb.org` and with duckdb-client:
[code]
but it doesn't return anything in ObservableHQ/DuckdDBClient. `SELECT count(*) FROM 's3://file.parquet' ` works in ObservableHQ thus the credentials must be the correct ones.

[2022-09-06 10:13] Mause commented on #994
Have you tried specifying a bucket name in the s3:// URI?

[2022-09-09 20:02] eaubin opened #999 "immutable dependency needed for react-duckdb"
[connection_provider](https://github.com/duckdb/duckdb-wasm/blob/3620be46fccde1b25968c54c7f6e3bead545b9ed/packages/react-duckdb/src/connection_provider.tsx#L2) uses immutable but it's not a dependency in package.json

[2022-09-09 21:53] MannySchneck opened #1000 "Testing code that uses duckdb"
Does anybody have any tips on how to write integration tests for a system that's relying on duckdb as an in-browser query engine?

I'd quite like to be able to write the following form of integration test:
[code]

Unfortunately, jest doesn't support webworkers. We're using a duckdb instance wired through react hooks. Most of the react testing community seems concentrated in jest. Has anyone here h

[2022-09-10 01:40] Mause commented on #1000
Have you tried using the web workers polyfill for node? https://www.npmjs.com/package/web-worker

[2022-09-14 06:27] kimmolinna commented on #994
@domoritz
This is weird. DuckDBClient is working nicely with Incognito but when the parquet file is in cache `SELECT *` is not working but `SELECT count(*)`works.

[2022-09-20 05:48] handstuyennn opened #1011 "Attaching duckdb types while fetching data"
When I fetch data from duckdb wasm, I guess type of data base on Apache Arrow Field. Sometimes, type couldn't be guessed exactly.
Eg, For this query `"SELECT -9223372036854775809;"`.

- DuckDB Type `HUGEINT`
- Apache Arrow store it as `DECIMAL`

Another example: `JSON` type is store as `Utf8` type in Apache Arrow.

Please let me know if having any way to retrieve exactly type from duckdb.

[2022-09-20 14:32] Alex-Monahan commented on #1011
If you insert into a table, you could query the table metadata!
https://duckdb.org/docs/sql/information_schema

[2022-09-21 02:51] handstuyennn commented on #1011
Hi @Alex-Monahan ,

For `Select from table`, I could retrieve data types from Duckdb.
I mainly focus on `SELECT from values`. Eg: `SELECT interval 1 day;`

Thanks

[2022-09-24 22:33] ttomasz opened #1014 "Shell is stuck loading when using Firefox Incognito mode"
When opening https://shell.duckdb.org/ in Firefox Incognito mode the shell gets stuck like in this screenshot:
![image](https://user-images.githubusercontent.com/31594210/192120858-d52ec191-9d82-470b-bdca-e95cade7c2df.png)
In regular Firefox window it works fine:
![image](https://user-images.githubusercontent.com/31594210/192120889-22e6ad54-dc90-4c58-a2eb-26490a38e290.png)

Linux, Firefox 105.0.1

[2022-09-24 22:35] ttomasz opened #1015 "Delete key does not work in Shell"
Backspace works but delete ("del" key) doesn't

Linux, Firefox 105.0.1

[2022-09-24 22:41] ttomasz opened #1016 "[Shell] Paste does not work in Firefox"
I can copy text from the shell but trying to paste it does not work.

When using ctrl+v there is an error in the console:
`Failed to read from clipboard: "TypeError: navigator.clipboard.readText is not a function"`

When clicking through context menu nothing happens and no error.

[2022-09-24 22:43] ttomasz commented on #1016
On further reading it seems that it might be Firefox limitation:
https://stackoverflow.com/questions/67440036/navigator-clipboard-readtext-is-not-working-in-firefox

[2022-09-27 13:27] domoritz commented on #983
The notebook works fine for me in Safari now. Is this still an issue?

[2022-10-02 08:01] kimmolinna commented on #983
I will still get the following error message: `RangeError: Maximum call stack size exceeded.` Do I have somehow wrong settings on my IOS/Safari?

[2022-10-03 14:04] domoritz commented on #983
Not sure. Can you post a minimal example that shows the issue? I don't have problems with date part.

[2022-10-12 15:18] Alex-Monahan commented on #940
Hello! Have a look here!
https://github.com/pyodide/pyodide/pull/2961

There was also some discussion about this in our Discord in the show and tell section!

[2022-10-20 20:25] cjwallace opened #1039 "Runtime TypeError with apache-arrow"
Hey, this is an exciting project and I'm having fun diving in!

I ran into a problem that surprised me when using duckdb-wasm with apache-arrow. If I import anything from `@duckdb/duckdb-wasm`, and anything (except types) from `apache-arrow`, I get a runtime type error:

[code]

I'm using SvelteKit (thus, Vite), and curiously, this error occurs only in dev (`vite dev`) but not prod (`vite build &&

[2022-10-23 07:16] ankoh commented on #1039
I'm not entirely sure yet what's happening here but can you please try to import the browser bundle directly?
(e.g. `@duckdb/duckdb-wasm/dist/duckdb-browser`)
This fixed the arrow error for me in your repro repository (but brought up an issue about a missing worker polyfill)
Have you seen this? https://github.com/duckdb-wasm-examples/sveltekit-typescript

I haven't really used svelte myself in the

[2022-10-23 09:10] tim-salabim opened #1040 "Globbing not working for AWS S3 access"
Hi, continuing a twitter communication here:
https://twitter.com/TimSalabim3/status/1583389050832007168

I've created an observable base quarto document here that outlines the issue
https://duckdb-parquet-in-browser.s3.amazonaws.com/duckdb_parquet_in_browser.html

In a nutshell, I can run queries fine against a .parquet file on S3, but fail to run any query against hive partitioned data using `*`

[2022-10-23 19:49] cjwallace commented on #1039
Yep, that fixes the TypeError in my actual project too (not just the repro) and raises the Worker problem (Worker missing in node - makes sense since the code runs on the server for SSR). I think you’re right that it’s a bundling issue.

I saw the SvelteKit example, which didn’t help with the Arrow problem, but it looks like it does include a solution to polyfill the Worker, so I should manage to

[2022-10-23 19:49] #1039 closed

[2022-10-24 07:29] kimmolinna commented on #1040
@tim-salabim I think that this is the limitation of duckdb-wasm at the moment. When I try `*.parquet` in `shell.duckdb.org` I will get the following error message: `Invalid Error: [object WebAssembly.Exception]`
[code]
But If I try in client everything works nicely.
[code]

[2022-10-24 07:38] kimmolinna commented on #1016
I have the same problem with Chrome but I can overcome it by copying text from a browser. I can't copy from any other application to `shell.duckdb.org`.
[code]

[2022-10-24 08:21] kimmolinna commented on #983
When you open the Notebook it works nicely but if you re-run the cell you will get `RangeError: Maximum call stack size exceeded.`
https://observablehq.com/@kimmolinna/date_part-test

[2022-10-24 09:29] tim-salabim commented on #1040
@kimmolinna thanks for the follow-up. Yes, this issue concerns `duckdb-wasm`

[2022-10-24 10:24] kimmolinna commented on #1040
@ankoh Because the Content Security Policy doesn't support the wildcard * in the path, [match-paths spec](https://www.w3.org/TR/CSP3/#match-paths) could it possible that instead of `s3://bucket/folder/*.parquet` I could use `s3:/
/bucket/folder/` that means the same thing?

[2022-10-26 08:11] kimmolinna commented on #1040
@tim-salabim One solution is use AWS-SDK to fetch file names and then use `read_parquet(list of files)`
[My test ObservableHQ Notebook](https://observablehq.com/@kimmolinna/duckdb-parquet-and-aws-s3 )

[2022-10-26 08:17] kimmolinna opened #1051 "[ObservableDuckDBClient] Parameters with table functions"
According to @Mytherin parameters work for table functions on the latest version. When I use DuckdDBClient ObservableHQ SQL Cell with external variable which uses a prepared statemetns I will get the following errror message: `Error: Binder Error: Table function requires a constant parameter LINE 3: FROM read_parquet(?)`

@ankoh is this a wasm-version issue or @domoritz 's DuckDBClient one?

[2022-10-26 08:24] Mytherin commented on #1051
This was fixed in duckdb/duckdb#4059, which was included in DuckDB v0.5 for the first time. We recently upgraded duckdb-wasm to v0.5.1 (#1026). It's likely that Observable is still using duckdb-wasm v0.4. You could check the DuckDB version by running `PRAGMA version`.

[2022-10-26 09:47] kimmolinna commented on #1051
Library_version `v0.3.4` and source_id `662041e2b`

[2022-10-26 09:52] kimmolinna commented on #1051
I created a fork with the latest version and It works nicely. Thank you very much @Mytherin

[2022-10-26 09:52] #1051 closed

[2022-10-26 11:24] tim-salabim commented on #1040
Thanks for this! I'll try to update my notebook as soon as I find the time...

[2022-10-26 19:17] domoritz commented on #1051
I updated the client.

[2022-10-30 09:27] l1t1 opened #1206 "duckdb web version is single-threaded"
### What happens?

a sql run on duckdb web version took 9 sec.
the same sql run on duckdb CLI took 2 sec.

### To Reproduce

open the edge and visit `https://shell.duckdb.org/`,  after it shows
[code]
run
[code]
and run same sql on duckdb CLI, compare the time costs.

### OS:

windows 7

### DuckDB Version:

v0.5.1

### DuckDB Client:

Web version

### Full Name:

lutao

### Affiliation:

study

#

[2022-11-02 18:04] domoritz opened #1056 "Add Observable client to duckdb-wasm"
Move the client from https://observablehq.com/@cmudig/duckdb here and add tests etc.

[2022-11-03 14:20] domoritz commented on #1056
Already started at https://github.com/observablehq/stdlib/pull/313#issuecomment-1301955402

[2022-11-06 11:07] ilyabo opened #1058 ""Maximum call stack size exceeded" errors in Safari"
Running the same query for 321 times leads to the error "Maximum call stack size exceeded" in Safari (haven't seen it in Chrome so far)

Minimal app to reproduce the issue: https://github.com/ilyabo/duckdb-safari-maxcallstack-issue/blob/main/pages/index.tsx

Deployed here:
https://duckdb-safari-maxcallstack-issue.pages.dev/

![image](https://user-images.githubusercontent.com/351828/200167021-497f3

[2022-11-06 12:53] ilyabo commented on #1058
I could also reproduce the error for a simpler query after running it for 1396 times:

[code]

[2022-11-07 10:28] kimmolinna commented on #1058
Is this related  to #983?

[2022-11-12 00:24] domoritz commented on #983
I can't reproduce this issue (tried rerunning the cell a few times) in the latest Safari 16. Which version are you using?

[2022-11-12 08:38] kimmolinna commented on #983
The iPadOS version is 15.7 which is the latest my employer has approved so I assuma my Safari version on iPad is then 15.

[2022-11-12 16:26] domoritz commented on #983
I'd say this may be a fixed browser issue then and I don't think it makes sense for us to investigate.

[2022-11-12 16:26] domoritz commented on #983
Closing. Let's reopen if we can repro in latest safari.

[2022-11-12 16:26] #983 closed

[2022-11-14 14:20] ericemc3 opened #1066 "insertCSVFromPath options and incorrect typing"
I have a csv file with zip codes (CODGEO) that look like integers
![image](https://user-images.githubusercontent.com/17407796/201682366-21ad1c55-57ae-47d9-a7e8-821fbf44a908.png)
but actually contain characters.

Is there a simple way with insertCSVFromPath() to specifiy CODGEO as a string column?

i tried (without success) SAMPLE_SIZE = -1
ALL_VARCHAR = TRUE
or columns: {CODGEO : new arrow.String(

[2022-11-17 09:55] Fil commented on #1066
Now, I don't know how to specify a DOUBLE type (as what gets detected), only a Float64.

[2022-11-17 11:10] ericemc3 commented on #1066
Thanks @Fil for the Utf8() type!

[n_com2022_p.csv](https://github.com/duckdb/duckdb-wasm/files/10030775/n_com2022_p.csv)

In the https://observablehq.com/@observablehq/csv-to-parquet notebook, previous file does not load, the notebook yields an error because codgeo is improperly analyzed as Int32 (and further, we have a 2A001 value)

First, a 01000 value with a leading 0 should be recognized as c

[2022-11-17 12:16] Fil commented on #1066
A simpler approach (but very hacky), would be to insert a fake line at the top with values that have an unambiguous type:
[code]

[2022-11-18 12:02] ankoh commented on #1058
Thanks for the repro, it crashes for me as well in Safari. I think DuckDB-Wasm has to get better in logging to narrow such issues down a bit easier.

[2022-11-18 13:53] ilyabo commented on #1058
@ankoh Yes, the error message is not super informative...

The issue might seem rare, but it's a nasty one for my case. I send a lot of queries when the user interacts with the map. As a result, the app stably crashes after like 20 seconds of zooming and panning in the map in Safari :(

It looks like the time until it happens depends on the complexity of the query: the more complex the query, the

[2022-11-21 08:45] Kokopak opened #1072 "Missing s3_url_style env variable for s3 like storage (minio)"
Hi !

I would like to use this library with my self hosted minio but when I set the `s3_url_style`  ([according to the httpfs documentation](https://duckdb.org/docs/extensions/httpfs.html)) variable like this :

`await conn.query("SET s3_url_style='path';")`

in order to prevent the use of s3 vhost, it doesn't work and the library keep using s3 vhost (https://bucket_name.endpoint/resource instead

[2022-11-21 23:38] handstuyennn opened #1073 "Size of duckdb-wasm build file"
Hi,

I built duckdb-wasm with latest commit from branch master ([83ba5b459c681f3e94b282586b21e12994383aa0](https://github.com/duckdb/duckdb-wasm/commit/83ba5b459c681f3e94b282586b21e12994383aa0)) with following commands:

make compile_commands
make duckdb_shell
make data
make lib_tests
DUCKDB_EXCEL=1 make wasm (or DUCKDB_EXCEL=1 DUCKDB_JSON=1 make wasm)
make js_release

But I got size of duckdb-was

[2022-11-25 10:42] tobilg commented on #838
I currently have the exact issue @hustnn. I see swallowed auth headers for the OPTIONS request, and consequently a 403. Have you been able to solve this?

[2022-11-25 12:18] tobilg commented on #1040
I have the same issue... My query looks like this:

[code]

[code]

[2022-11-26 04:26] Mause commented on #838
Before you can make cross origin requests to your bucket, you have to add cors config: https://docs.aws.amazon.com/AmazonS3/latest/userguide/ManageCorsUsing.html

[2022-11-26 08:13] tobilg commented on #838
Yes, I did. I experimented with different settings regarding allowed methods and headers. The only way I could get it to work was adding * to both, which isn’t ideal but works for now. Thanks!

[2022-11-26 08:48] tobilg commented on #1040
Is there some other possibility to get usable S3 globbing @Mause eventually? I understand bookkeeping your Parquet files is a workaround that requires quite a bit of implementation in out backend to be usable at scale. Thanks!

[2022-11-29 07:46] Fil commented on #1066
I have another casse of a column (sex) that starts with F on thousands of lines, then has M. But based on those Fs, it seems that DuckDB has inferred it should be a BOOL column, and throws an exception.

[2022-11-30 18:55] wanchoi211 opened #1205 "Memory access out of bounds"
### What happens?

the query gives back `memory access out of bounds`.

### To Reproduce

<img width="565" alt="Screen Shot 2022-11-30 at 10 52 15 AM" src="https://user-images.githubusercontent.com/6692076/204883889-659bf6eb-a58d-47cf-bbc9-00dfa432088a.png">

### OS:

x86_64

### DuckDB Version:

@duckdb/duckdb-wasm@1.19.1-dev2.0

### DuckDB Client:

Browser

### Full Name:

Alex Choi

### Affilia

[2022-11-30 19:21] ilyabo commented on #1058
I added retries to the app. Very very interestingly, the DB seems to recover after many retries to execute the same query!!! After that it  seems to work fine.

![image](https://user-images.githubusercontent.com/351828/204889079-1c828265-45c7-4955-9d71-9d712c0ad336.png)

[2022-11-30 19:26] ilyabo commented on #1058
For the simpler query it sometimes takes two runs of retries to recover:

![image](https://user-images.githubusercontent.com/351828/204890105-4cc67986-c54d-4e5e-ba2c-1555e569c1f0.png)